/*
+----------------------------------------------------------------+
|																							|
|	WordPress 2.8 Plugin: WP-PageNavi 2.50									|
|	Copyright (c) 2009 Lester "GaMerZ" Chan									|
|																							|
|	File Written By:																	|
|	- Lester "GaMerZ" Chan															|
|	- http://lesterchan.net															|
|																							|
|	File Information:																	|
|	- Page Navigation CSS Style													|
|	- wp-content/plugins/wp-pagenavi/pagenavi-css.css					|
|																							|
+----------------------------------------------------------------+
*/

.wp-pagenavi{
	height: 30px;
	padding: 4px 0;
	text-align: right;
}
.wp-pagenavi a, .wp-pagenavi a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #AABBCC;
	color: #335577;
	background-color: #F2F6FA;	
}
.wp-pagenavi a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #AABBCC;
	color: #335577;
	background-color: #F2F6FA;	
}
.wp-pagenavi a:hover {	
	border: 1px solid #EEE;
	color: #000000;
	background-color: #F2F6FA;
}
.wp-pagenavi a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #AABBCC;
	color: #335577;
	background-color: #F2F6FA;	
}
.wp-pagenavi span.pages {
	padding: 2px 4px 2px 4px; 
	margin: -1px 2px 2px 2px;
	color: #000000;
	border: 1px solid #EEE;
	background-color: #F2F6FA;
	float: left;
}
.wp-pagenavi span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #EEE;
	color: #000000;
	background-color: #F2F6FA;
}
.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #EEE;
	color: #000000;
	background-color: #F2F6FA;
}