/*
	Theme Name: 	LightFolio
	Theme URL: 		http://www.dynamicwp.net/category/free-themes/
	Description:	Dynamicwp free theme, with theme option to set slide show image and featured post category. This theme is under GPL license.
	Version: 		1.2
	Author: 		dynamicwp team
	Author URI: 	http://www.dynamicwp.net/
*/ 

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

@import url('pagenavi-css.css');

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; 	margin: 0; padding: 0; vertical-align: baseline;}
body { line-height: 1; }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: normal; }
ol, ul { list-style: none;}
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
del {	text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none;}

/* =Layout
-------------------------------------------------------------- */


CSS Document */
* { margin:0; padding:0;}

body{  background: #fff url(images/bg.gif);	font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif; font-size:14px; color:#414141;	margin:0;  line-height: 22px; }

input{ font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif; font-weight: bold;}

caption, th, td {	font-weight:normal;	text-align:left;}
th{	background:#464646;	color:#FFFFFF;	text-transform:uppercase;	border:1px solid #464646;}
tr{ border:1px solid #464646;}
table{	margin:5px;	border: 0 none;	border-collapse:collapse;	padding: 0;	border:1px solid #464646;}
table td {	background:#F3F3F3 none repeat scroll 0 0;}
table td, table th {	border:1px solid #464646;	padding:5px;	text-align:left;}

a{ color:#ce4e79; outline:none;text-decoration:none;}
a:hover{ color:#be2a5c; }
img, a img { border:0;}

h1, h2, h3, h4, h5, h6 {line-height: 1.5em;	margin: 0 0 20px 0;}
h1{	font-size:3em; font-style:italic;}
h2{ color:#b50c45; font-size: 20px;}
.bg-cont h2 {font-size: 38px; font-style: italic; margin-bottom: 5px}
h3{	font-size: 1.5em;}
h4{	font-size:1.2em;	}
h5{	font-size:.95em;	}
h6{	font-size:.8em;}
hr {	background-color: #e7e7e7;	border: 0;	clear: both;	height: 1px;	margin-bottom: 18px;}
/* Text elements */
p {	margin-bottom: 18px; color:#415b6f;}
ul {	list-style: square;	margin: 0 0 18px 1.5em;}
ol {	list-style: decimal;	margin: 0 0 18px 1.5em;}
ol ol {	list-style: upper-alpha;}
ol ol ol {	list-style: lower-roman;}
ol ol ol ol {	list-style: lower-alpha;}
ul ul, ol ol, ul ol, ol ul { 	margin-bottom: 0;}
dl {	margin: 0 0 24px 0;}
dt {	font-weight: bold;}
dd {	margin-bottom: 18px;}
strong {	font-weight: bold;}
cite, em, i {	font-style: italic;}
big {	font-size: 131.25%;}
ins {	background: #ffc;	text-decoration: none;}
blockquote {	font-style: italic;	padding: 0 3em;}
blockquote cite, blockquote em, blockquote i { font-style: normal;}
pre {	background: #f7f7f7;	color: #222;	line-height: 18px;	margin-bottom: 18px;	padding: 1.5em; }
abbr, acronym {	border-bottom: 1px dotted #666; 	cursor: help;}
sup, sub {	height: 0;	line-height: 1;	position: relative;	vertical-align: baseline; }
sup {	bottom: 1ex; }
sub {	top: .5ex;}
input[type="text"], textarea {	background: #f9f9f9;	border: 1px solid #ccc;	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1); padding: 2px;}


.clear { clear:both;}

fieldset { border:1px solid #d6dde2; overflow:hidden; position:relative;}
fieldset legend { color:#4fa702;}
html.js fieldset.collapsed legend { display:inline;}
/*html.js fieldset.collapsible legend a { background:url(images/images/a5.gif) no-repeat 5px 7px;}
html.js fieldset.collapsed legend a { background:url(images/images/a4.gif) no-repeat 5px 6px;}*/

fieldset a { color:#dd621e;}
fieldset .tips { font-size:10px;}

blockquote { margin:22px 40px 22px 20px; padding:0 0 0 20px; border-left: 3px #DFDFDF solid; font-style:italic; }
small { font-size:0.85em; }
sup { position:relative; bottom:0.3em; vertical-align:baseline; }
sub { position:relative; bottom:-0.2em; vertical-align:baseline; }
acronym, abbr { cursor:help; letter-spacing:1px; border-bottom:1px dashed; }

img.bordered{
	padding: 2px;
	
}

.content img.bordered{
	float: left;
	margin-top:10px;
	padding-bottom:20px;
	color:#d04e76;
	
}
.content img.main-image{margin-right:15px;}
.min-width {width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 980)? "980px" : "100%"); min-width:980px; }
#main { margin:0px auto 0; width:980px;}

 

/*------HEADER------*/

.head-row1 { height:250px; width:100%; overflow:hidden;}
.head-row1 .col1 { float:left; }
.head-row1 .col2 { float:right;}

.head-row2 { height:45px; width:100%;background: url(images/bg-menu-01.png); margin-bottom:11px;}
.head-row2 .col1 { float:left; width:721px;}
.head-row2 .col2 { float:left; width: 230px; margin: 7px 0 0 0;}

.head-row3 { width:100%;}

.head-row4 { height:; width:100%;}


.logo { margin:0px 20px 0px 0; float:left;}
h1.site-name { font-size:32px; padding:40px 10px 0px 30px; text-transform:capitalize; font-weight:bold;}
h1.site-name a { color:#FFFFFF; text-decoration:none; font-weight:normal; line-height:30px;}
.slogan { padding:4px 0px 0px 12px; color:#FFFFFF; font-size:12px; text-transform:none; float:left;}
.slogan-img { margin:71px 0px 21px 0px;}

.wrapper-top-menu {padding:1px 0 0 5px;}
ul.menu-nav {margin:0px; padding:0; list-style:none; text-align:center;}
ul.menu-nav li { float:left; padding:0px 1px 0px 0px; background:url(images/bg-li000.gif) no-repeat right top}
ul.menu-nav li li { background:none;}
ul.menu-nav li a { color:#eee; text-decoration:none; display:block; padding:11px 10px 0 10px; color:#d97c9c; text-transform:uppercase;}
ul.menu-nav li.active a, ul.menu-nav li a:hover { background:url(images/bg-li-ac.gif) top repeat-x; text-decoration:underline; font-style: inherit;}
ul.menu-nav li.first a:hover, ul.menu-nav li.first a.active{ background:url(images/bg-li-fi.png) no-repeat right top}


div.menu-nav {padding:12px 0 0 15px;}
div.menu-nav ul {margin:0px; padding:0; list-style:none; text-align:center;}
div.menu-nav ulli { float:left; padding:0px 1px 0px 0px; background:url(images/bg-li000.gif) no-repeat right top}
div.menu-nav ul li li { background:none;}
div.menu-nav ul li a { color:#d24c79; text-decoration:none; font-size:16px; display:block; padding-left:15px; padding-right:15px; text-transform:none;}
div.menu-nav ul li.active a, div.menu-nav ulli a:hover { background:url(images/bg-li-ac.gif) top repeat-x; text-decoration:underline; font-style: inherit;}
div.menu-nav ul li.first a:hover, div.menu-nav ul li.first a.active{ background:url(images/bg-li-fi.png) no-repeat right top}

/* footer */
#footer { background:url(images/bg-footer.png) repeat-x 0 0; color:#373737; font-size:16px; font-weight:normal; text-align:center; width:100%; overflow:hidden; text-transform:uppercase;}
.foot { text-align:center; margin:0 auto; width:980px; padding:20px 0px 5px 0px;}
#footer a { color:#666; text-decoration:none; list-style-type:}
#footer a:hover{ text-decoration:underline;}
#footer .foot span { padding-left:0px; line-height:20px;}
#footer .foot div.tm {padding-left:0px;}
/* footer end */


/*------CORNERS------*/
div.block { margin-bottom:0px; color:#363638; position:relative; width:100%; background: url(images/line_sb.png) no-repeat 0 15px;}
.clear-block { padding:0px 20px 0px 18px;}
.admin .clear-block { padding:0px;}

.slogan-box { overflow:hidden;}

.socials { padding-top:32px; padding-right:13px;}
.socials .findus { padding-top:10px; padding-right:13px;}
.socials li { font-size:10px; color:#929292; float:left; text-transform:uppercase; padding-right:3px;}
.socials li a { display:block; width:32px; height:32px;}
.socials li a.facebook { background:url(images/facebook.gif) no-repeat 0 0;}
.socials li a.facebook:hover { background:url(images/facebook.gif) no-repeat 0 0;}

.socials li a.myspace { background:url(images/myspace0.gif) no-repeat 0 0;}
.socials li a.myspace:hover { background:url(images/myspace0.gif) no-repeat 0 0;}

.socials li a.flickr { background:url(images/flickr00.gif) no-repeat 0 0;}
.socials li a.flickr:hover { background:url(images/flickr00.gif) no-repeat 0 0;}

.socials li a.twitter { background:url(images/twitter0.gif) no-repeat 0 0;}
.socials li a.twitter:hover { background:url(images/twitter0.gif) no-repeat 0 0;}

.corner-top-left {background:url(images/side-a.png) no-repeat left top;}
.corner-top-right {background:url(images/side-c.png) no-repeat right top; padding:0px 25px;}
.border-top {background:url(images/side-b.png) repeat-x top; height:25px; width:100%; overflow:hidden;}

.corner-bot-left {background:url(images/side-f.png) no-repeat left bottom;}
.corner-bot-right {background:url(images/side-h.png) no-repeat right bottom; padding:0 25px;}
.border-bot {background:url(images/side-g.png) repeat-x bottom; height:25px; width:100%; overflow:hidden;}

.border-right { background:url(images/side-e.png) repeat-y right; padding-right:25px;}
.bg-cont { background:url(images/side-d.png) repeat-y 0 0 #fff; padding: 0 0 25px 25px;}

/*-----------------*/

#cont { overflow:hidden; width:100%; padding: 0 0 0 0;}
.side_right_a{ background:url(images/corner-t.png) no-repeat left top; margin-top:20px;}
.side_right_b{ background:url(images/border-t.png) repeat-x top;height:25px; width:100%; overflow:hidden;}
.side_right_c{ background:url(images/corner-u.png) no-repeat right top;padding:0px 25px;}
.side_right_f{ background:url(images/corner-b.png) no-repeat left bottom;}
.side_right_g{ background:url(images/border-b.png) repeat-x bottom;height:25px; width:100%; overflow:hidden;}
.side_right_h{ background:url(images/corner-c.png) no-repeat  right bottom;padding:0 25px;}
.side_right{ background:url(images/border-r.png) repeat-y 100% 0;}
.width { width:228px; overflow:hidden; background:#fff url(images/bg-cont0.png) repeat-y scroll 0 0; padding: 0 15px;}

.widgettitle {background: url("images/line_sb.png") no-repeat scroll 0 bottom transparent; margin: 0 0 10px 0; padding: 0 0 3px 0; }

#cont-col { width:700px; float:left; overflow:hidden; height:1%; padding-bottom:20px; margin-top:20px;}
#right-col { width:260px; float:right; padding-left: 10px; padding-bottom:100px;}
/**************---TITLES---**************/
h1 { color:#444b4e; font-weight:normal;}
h1.title { background:none;  color: #D24C79;}
h1.title a {color:#d24c79.head-row1; text-decoration:none; font-size:30px; line-height:normal; font-weight:bold; font-style: normal;}
h1.title a:hover{text-decoration:underline; color:#000;}
#tabs-wrapper h2 { background:none; color:#000 !important; padding-bottom:10px; font-size:18px; font-weight:normal;}
.block h2 { display:block; color:#444b4e; font-size:25px; line-height:22px; margin:0; margin-top:0px; margin-bottom:10px; padding:0;}

h3 a {color:#424242; text-decoration:none;}

.block .title { padding:0 30px; width:100%; height: 45px; overflow: hidden;}
.title h3 { color:#302b28;  font-weight:normal; padding:0; margin: 0 0 10px 0;}
#side_right h3{text-align:center;}
.admin-panel h3 { color:#000000; font-size:13px;}



/***************/


/*---------------------*/

div.block a { text-transform:NONE;}


/*-----Recent blog posts-------*/
#block-blog-0 .item-list ul { padding-left:0px; width:100%;}
#block-blog-0 .item-list ul li{ background:none; padding:2px 0px 1px 0px; list-style-image:none; list-style:none; margin:0; line-height:16px;}
#block-blog-0 .item-list ul li a{ background:url(images/a3000000.gif) no-repeat 0 5px; font-weight:normal; text-decoration:underline; padding-left:12px; display:block; line-height:15px;}
#block-blog-0 .item-list ul li a:hover { text-decoration:none;}
#block-blog-0 .more-link a{ color:#4fa702; font-size:11px; font-weight:bold; text-decoration:none;}
#block-blog-0 .more-link a:hover{ text-decoration:underline;}


/*----SEARCH FORM----*/
.form-submit { background:url(images/bg-but00.gif) top repeat-x; vertical-align:middle; color:#FFF; font-size:12px; font-weight:bold; border:1px solid #323232; padding:0px 3px 2px 3px}
.form-submit:hover { background:url(images/bg-but20.gif) top repeat-x;}


.search-box { width: 230px; font-size:0; position: relative;}
.search-box input { font-size:12px; vertical-align:middle}
.search-box form#topSearch{margin: 0; padding: 0;}
.search-box form#topSearch p{margin: 0; padding: 0;}
#searchsubmit{ background: url(images/search00.gif) no-repeat left top; border: none; height: 24px; width:72px;}
#s{border:1px #d97c9c solid; background:transparent; color:#d97c9c; border-radius: 5px; width: 185px; height: 26px; padding-left:8px; }

.replace {	background: url(images/ico-search.png) no-repeat scroll center center;	border:medium none;	height:24px;	width:50px; }

#topSearch {	width: 230px; height: 26px; margin: 0;	padding: 0; position: relative; }
#topSearch p.fields{	margin: 0;	padding: 0; }
#topSearch p.fields input {position: absolute; }
#topSearch p.fields button { width: 36px; height: 32px;	border: none; cursor:pointer; position: absolute; right: 0; }
/*------------------CUSTOM BLOCKS---------------------*/
/*------Styles for Custom Region------*/

#custom .block { border:none; float:left;}
#custom .title h3 { padding:0;}
#custom .content { padding:10px 20px 0 20px; height: 288px; overflow: hidden;}


#custom #block-block-14 {  background:url(images/strategi.png) no-repeat 0 0; width: 326px; height: 337px; margin-top:15px; }
#custom #block-block-15 {  background:url(images/strategi.png) no-repeat 0 0; width: 326px; height: 337px; margin-top:15px; }
#custom #block-block-16 {  background:url(images/strategi.png) no-repeat 0 0; width: 326px; height: 337px; margin-top:15px; }

.block-content {font-size: 17px; padding-left:10px; color:#b92b56;}
div.title a { font-size:20px; font-style:italic; }
.read-more{	padding: 12px 22px;	position: absolute;	bottom: 40px; left:190px;	 background: url(images/button.png) no-repeat 0 8px; }
a.read-more {color:#FFFFFF;}
a.read-more:hover{ background:url(images/button-h.png) no-repeat 0 8px;}
.title a{ color:#d24c79;}.title a:hover{ background:none;}
/*---*/


/*---Paragraph Style---*/
#cont-col .content p { padding-bottom:7px; padding-top:7px;}

/*------END LIST------*/


ul.tabs li	{ background:url(images/bg-tab00.gif) top repeat-x !important; /*bg-tab*/ display:block; margin-right:2px; float:left; }
ul.tabs li span	{ background:url(images/tab-left.gif) no-repeat 0 0; /*tab-left*/ display:block; }
ul.tabs	li span span { background:url(images/tab-righ.gif) no-repeat right 0; /*tab-right*/ text-align:center; display:block; }
ul.tabs	li a {	color:#322d2d !important; font-size:14px; font-weight:normal; background:none; padding:5px 20px 5px 20px; margin:0px; display:block; }
ul.tabs	li a:hover { color:#4fa702 !important; margin:0px; border:none; }

/*-----GENERAL-----*/
.node .taxonomy { padding-top:0px;}

div.error { margin-top:5px;}

.block-region { background:#d6e6cc; text-align:center; border:1px dashed #618749; color:#618749; margin-bottom:0px; clear:both;}

.node-unpublished { background:none;}
.odd td { vertical-align:middle; padding-left:px; line-height:18px; background:#ebebeb; font-size:12px;}  /* odd_row BACKGROUND*/
.even td { vertical-align:middle; padding-left:px; line-height:18px; background:#FFF; font-size:12px;} /* even_row BACKGROUND*/
.profile h3 { border-bottom:1px solid #cfcdcd; color:#4fa702}

img.alignleft{ float:left; margin-right:14px;}
img.alignright{ float:right; margin-left:25px; margin-right:39px; margin-top:30px;}

.tabs a { color:#395c14}

.

#cont ul.links li { background:none;}
/*#cont ul.links li span { color:#575859;}*/



dl .title { background:none; padding:0px;}

ul.links li.comment_forbidden { padding:0px;}

#comments, #node-form { width:100%;}


#cont-col .content .comment_add a { color:#457299; text-transform:capitalize; font-weight:bold;}

html.js fieldset.collapsible .fieldset-wrapper { width:100%; overflow:hidden;}




#cont-col .content ul.pager li { background:url(images/bg-pagin.gif) top repeat-x; border-bottom:1px solid #8b8b8b; border-right:1px solid #8b8b8b; padding:4px 8px; margin:0px 1px; color:#323232;}
#cont-col .content ul.pager li.pager-current,
#cont-col .content ul.pager li:hover{ background:url(images/bg-pagin.gif) top repeat-x; border-bottom:1px solid #8b8b8b; border-right:1px solid #8b8b8b;}
#cont-col .content ul.pager li a{ color:#323232; text-decoration:none;}
#cont-col .content ul.pager li a:hover { color:#000}

/*----------Slider---------*/
.images { position:relative;	 height:347px; width:573px; float:left;}
.images div { display:none; position:absolute; top:0; left:0;	height:347px; padding-left:16px;}
.images a { display:block; width:573px; height:347px;}


:focus {  -moz-outline-style:none;}

/* next */
.forward { background:url(images/next0000.png) no-repeat 0 0; display:block; width:77px; height:45px; float:left; margin-top:36px;}
.forward:hover { background:url(images/next-act.png) no-repeat 0 0}
.forward:active { background:url(images/next-act.png) no-repeat 0 0} 

/* prev */
.backward { background:url(images/prev0000.png) no-repeat 0 0; display:block; width:77px; height:45px; float:left; margin-left:134px; margin-top:36px;}
.backward:hover  { background:url(images/prev-act.png) no-repeat 0 0; }
.backward:active { background:url(images/prev-act.png) no-repeat 0 0;}

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled { visibility:hidden !important; }

/* slider */

#gambar{ width:600px; height:400px; margin-left: 84px; margin-bottom: 27px;}
.imageflow img{border:none; position:absolute; top:0px; visibility:hidden;}
.imageflow .loading_bar{background:#fff; height:15px; visibility:visible; width:1%}
.imageflow .scrollbar{border-bottom:1px solid #b3b3b3; position:relative; visibility:hidden; z-index:10001; height:1px}
.imageflow .slider{background-image:url(images/slider00.png); background-repeat:no-repeat; height:14px; margin:-6px 0 0 -7px; position:absolute; width:14px; z-index:10002}
.imageflow .button{cursor:pointer; height:17px; position:relative; width:17px}
.imageflow .previous{background:url(images/button_l.png) top left no-repeat; float:left; margin:-7px 0 0 -30px}
.imageflow .next{background:url(images/button_r.png) top left no-repeat; float:right; margin:-7px -30px 0 30px}

#instanz_2_navigation { position: absolute; top: 500px;}


.wrapper-top-menu{ font: bold 12px; z-index: 1000; }
.wrapper-top-menu ul{ margin: 0; padding: 0; list-style-type: none; z-index: 1000; }
.wrapper-top-menu ul li{ position: relative; display: inline; float: left; height: 56px; z-index: 1000; }
.wrapper-top-menu ul .cat-item a { padding-left:10px; padding-right:10px; }
.wrapper-top-menu ul li a{ position: relative; height: 36px; display: block;  color: #FFF; border-right: 0px solid #d97c9c; color: #2d2b2b; text-decoration: none; z-index: 1000; }
* html .wrapper-top-menu ul li a{  display: inline-block; z-index: 1000; }
.wrapper-top-menu ul li a:link, .wrapper-top-menu ul li a:visited{	color: #d97c9c;	z-index: 1000;	-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius: 5px; font-weight: bold}
.wrapper-top-menu ul li a:hover{ color: #505050 !important;}
.wrapper-top-menu ul ul li a:hover{background: #000; color: #fff !important; z-index: 1000;}
.wrapper-top-menu ul li ul{ position: absolute; left: 0; display: block; visibility: hidden; z-index: 1000; }
.wrapper-top-menu ul li ul li{ display: list-item; height: 33px; z-index: 1000; margin-left: 1px; text-align: left }
.wrapper-top-menu ul li ul li ul{ top: 0; z-index: 1000;}
.wrapper-top-menu ul li ul li a{ background: transparent url(images/trans_item.png) repeat scroll left top; -moz-border-radius-bottomleft:5px;	-moz-border-radius-bottomright:5px;	-moz-border-radius-topleft:5px;	-moz-border-radius-topright:5px; padding: 7px 0 0 10px;	height: 26px; font: normal 13px; width: 140px; margin: 0; border-top-width: 0; border: 0px 1px 1px 1px solid #AFAFAF; z-index: 1000;}
.wrapper-top-menuz ul li ul li a:hover{ background: #eff9ff; color: #000; z-index: 1000;}
.downarrowclass{ position: absolute; top: 18px; right: 7px;}
.rightarrowclass{ position: absolute; top: 12px; right: 5px;}
				
div.menu-nav { font-style:italic; z-index: 1000; }
div.menu-nav ul{ margin: 0; padding: 0; list-style-type: none; z-index: 1000; }
div.menu-nav ul li{ position: relative; display: inline; float: left; height: 56px; z-index: 1000; }
div.menu-nav ul .cat-item a { padding-left:10px; padding-right:10px; }
div.menu-nav ul li a{ position: relative; height: 36px; display: block;  color: #FFF; border-right: 0px solid #778; color: #2d2b2b; text-decoration: none; z-index: 1000; }
* html div.menu-nav ul li a{  display: inline-block; z-index: 1000; }
div.menu-nav ul li a:link, div.menu-nav ul li a:visited{	color:#d24c79;	z-index: 1000;	-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius: 5px;}
div.menu-nav ul ul li a:hover{background: #000; color: #FFF;z-index: 1000; text-decoration:underline;}
div.menu-nav ul li ul{ position: absolute; left: 0; display: block; visibility: hidden; z-index: 1000; }
div.menu-nav ul li ul li{ display: list-item; height: 33px; z-index: 1000; margin-left: 1px; }
div.menu-nav ul li ul li ul{ top: 0; z-index: 1000;}
div.menu-nav ul li ul li a{ background: transparent url(images/trans_item.png) repeat scroll left top; -moz-border-radius-bottomleft:5px;	-moz-border-radius-bottomright:5px;	-moz-border-radius-topleft:5px;	-moz-border-radius-topright:5px; padding: 7px 0 0 10px;	height: 26px; font: normal 13px; width: 140px; margin: 0; border-top-width: 0; border: 0px 1px 1px 1px solid #AFAFAF; z-index: 1000;}
div.menu-nav ul li ul li a:hover{ background: #eff9ff; color: #000; z-index: 1000;}
			
.addthis_toolbox{ }
.widget ul{ padding: 0; margin: 0;}
.widget ul ul{ padding: 0 0 0 10px;}
.widget li{ line-height: 180%; list-style: inside disc;}

/*comments style*/

.commentlist { list-style-type: none; padding: 0; }
.commentlist ul{	padding: 0 0 0 10px; list-style-type: none; }
.comment { padding:10px 0px 10px 20px;}
.comment h3 { background:none;}
.comment h3 a{ color:#2a2a2a; font-size:15px;}
.comment .title { padding-left:0px; padding-bottom:10px;}
.comment .submitted { margin-left:0px; padding-bottom:10px; color:#999999;}
.comment .submitted a{ color:#999999;}

.content { padding:0px 10px 0px 0px; color:#707070; font-size:18px;}
.node .content a { color:#4fa702; font-size:13px;}
.node .content a:hover { color:#666;}
.node .content strong { color:#3c3c3c}
.content a:hover{ text-decoration:none;}

.node { width:100%; margin-bottom:17px; }
.node .content { padding:7px 0px 14px 0px; overflow:hidden; overflow:hidden;}
.node div.links { padding-top:5px; padding-bottom:2px; text-align:left;}
.node .title {margin-bottom: 5px;}
.node  .submit { padding:0 0px 10px 0px; overflow:hidden; background:url(images/bg-line0.png) 0 bottom repeat-x;}
.node .submitted, .node  .submit .submitted{ color:#414141; font-size:14px; line-height:normal; font-weight:normal; }
.node .submitted a { color:#414141;}

/*content style*/

.aligncenter{ display: block; margin: 10px auto; }
.alignleft{	float: left; margin: 5px 10px 5px 0;}
.alignright { float: right; margin: 5px 0 5px 10px;}

img.aligncenter, img.alignleft, img.alignright{ padding: 2px; border: 1px solid #DDD; }
.postmetadata{ margin: 0;}

/* -------*/

.featured {  color: #fff; background:url(images/slider-b.png) no-repeat; width: 939px; height: 390px; margin: 0 auto; font-size: 18px; line-height: 140%; padding: 10px 20px;}
.featured-title{margin: 0px; line-height: 120%;}
.featured-info { color: #e585a5;  padding: 0; margin: 10px 0px; font-size:12px; }
#sections { width: 653px; height: 364px; float: left; overflow: hidden; border:2px solid #fff; margin-top:10px;}
#sections ul { width: 10000px; padding: 0; margin: 0; height: 364px; float: left; list-style-image: none; display: block; }
#sections li { width: 655px; height: 364px; display: block; float: left; }
.sections-overlay { background-image: url(images/readmore.png); width: 655px; height: 364px; }
.sections-overlay .zoom { margin: 165px 0px 0px 312px; border: none; }
#featured-right { width: 262px; height: 364px; float: right;  }
#sections2 { width: 262px; height: 305px; float: right; overflow: hidden; }
.featured-readmore {  float: right;  }
#sections2 ul { width: 262px; padding: 0; margin: 0; height: 5000px; float: left; list-style-image: none; display: block; }
#sections2 li { width: 227px; height: 265px; display: block; float: left;  padding: 20px; }
.featured-title a { color: #d24c79; font-size: 24px; font-style:italic; }
#featured-button { width: 262px; height: 66px; }
.prev { width: 50px; height: 45px; cursor: pointer; float: left; background-image: url(images/button_slide1p.png); margin-top: 5px; margin-left: 10px; }
.next { width: 50px; height: 45px; cursor: pointer; float: right; background-image: url(images/button_slide1n.png); margin-top: 5px; margin-right: 10px; }
.prev-hover { width: 50px; height: 45px; cursor: pointer; background-image: url(images/button_slide2p.png); }
.next-hover { width: 50px; height: 45px; cursor: pointer; background-image: url(images/button_slide2n.png); }

/*----------*/

		
.category-menu { margin:0; padding:0; height:auto; text-align:left; position:absolute; top:308px; left:10px; display:none;}
.indicator, .indicator-active {	margin:0; padding:0; width:7px; height:5px;	background:url(images/expand00.gif) no-repeat center left;	display:inline-block; vertical-align:middle; }
.indicator-active {	background:url(images/collapse.gif) no-repeat center left;	}
.dropdown { width: 322px; margin:0; padding:0;  height:auto;	background:url(images/dropdown.png) no-repeat bottom center; text-align:left; display:none; position:relative; z-index: 1000;}
.cat-posts { 	margin:0 auto; padding:10px 0 19px 0; width:322px; height:auto; list-style:none; border-top:1px solid #ebecec; }
.cat-posts li { margin:0; padding:10px 15px; background:url(images/cat-post.gif) no-repeat bottom right; }
.cat-posts li.view-more {}
.cat-posts li a {font-size: 12px; display: block;}
.cat-posts li span{font-size: 10px;}

/* the comments style*/
ol.thecomments { list-style:none; 	margin:0px; padding:0px; }
ol.thecomments li { 	position: relative; margin-bottom: 20px; padding: 75px 20px 20px 20px; }
.comment { background:#f9f9f9; border:1px solid #d8d8d8; }
ol.thecomments li.comment .comment-author img {	position:absolute; left:20px; top:20px; padding: 1px; border:5px #d8d8d8 solid; }
ol.thecomments li.comment .reply {	position:absolute; right:20px; top:25px; display:block; }
ol.thecomments li.comment .reply a {	background:#e6e6e6;	padding: 2px 15px; color:#333; display: block; font-size: 0.8em; border: 1px #d1d1d1 solid; }
ol.thecomments li.comment .reply a:hover { background:#d1d1d1; border-color: #c1c1c1; color:#fff; }
ol.thecomments li cite {	font-weight:bold; position: absolute; top: 25px; left: 75px; }
ol.thecomments li .comment-meta { display:block; position: absolute; top: 40px;	left: 75px;	font-size: 0.7em; }
li.comment ul.children { list-style:none; margin:20px 0px 0px 0px;	padding:0px; }
ol.thecomments li.comment ul.children li {	background:#f1f1f1;	margin-top:7px;	border:1px solid #d1d1d1; margin-bottom:0px; }
.commentnavigation {	margin:20px 20px; display:block; line-height:40px; }
.commentnavigation a { color:#fff; background:#2f4458; padding:7px 20px;	font-size:.75em; text-decoration:none; font-weight:bold; }
.commentnavigation a:hover {	background:#333; }
li.comment #respond {	padding-top:1px;}
li.comment .callfade, .says {	display:none;}
#respond { position: relative;}
#commentform { display:block; margin: 20px 0px;	padding: 20px;	background: #f9f9f9; border: 1px solid #d8d8d8; }
li.comment #commentform {	margin:20px 0px; margin-bottom: 0px; background:#f1f1f1; }
.comment-form input { display:block; margin:0px; border: 1px solid #d1d1d1; background: #fff;	padding: 7px 5px; width:30%; font-size: 0.9em; color: #525861; }
.comment-form input#submit{ width: 32%; }
.comment-form textarea { display:block; margin-top:5px; padding: 7px 5px; background:#fff; border:1px solid #d1d1d1; width:98%; 	height:150px; font-size: 0.9em;	color: #525861; }
.comment input, .comment textarea { width:375px; }
.comment-form label { font-size: 11px;	font-weight:bold; color:#555; }
.comment-form span {	font-size: 10px; font-style:italic; color:#777; }
.comment-form span strong {	color:#555; }
.comment-form span a {	color:#326a9a; }
.comment-form span a:hover { color:#000; }
#comment_post_ID, #comment_parent, #_wp_unfiltered_html_comment { display:none; }
#commentform .inputerror { border: 1px dashed #aaa; }
.comment-form button {	width: 130px; height: 40px;	text-indent: -9999px; border: none;	cursor: pointer; }
.comment-form button#submit { margin-top: 10px; }
.comment-form button:hover { background-position: 0 -40px; }
.wp-caption-text { font-size: 14px }