/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/
.gf-menu-toggle{
	position: absolute;
	z-index:999999;
	top: 60px;
	left: 10px;
}
.widget_gantry_mimosocial{padding:0;margin:0;display:inline-block;float:right;}
#newswallmimo-filter li:first-child a {  
	padding:20px 10px; 
	margin:0px 0px 0px 20px;
	}
#newswallmimo-filter li:first-child a {  
	padding:20px 10px; 
	margin:0px 0px 0px 20px;
	}

.large1 .item2 {width:100%;}
.large2 .item2 {width:49%;margin:0.5%;}
.large3 .item2{width:31.3%;margin:1%;}
.large3 .imageitem{width:64.5%;}
.large3 .galleryitem{width:64.5%;}
.large3 .videoitem{width:64.5%;}

.large5 .item2{width:18%;margin:1%;}
.large5 .imageitem{width:38%;}
.large5 .galleryitem{width:38%;}
.large5 .videoitem{width:38%;}

.large4 .item2 {width:24%;margin:0.4%;}
.large4 .imageitem{width:48.7%;}
.large4 .galleryitem{width:48.7%;}
.large4 .videoitem{width:48.7%;}
// Large Mode
@media only screen and (min-width: 1200px) {

	.visible-large {
		display: inherit !important;
	}
	.hidden-large {
		display: none !important;
	}
	.visible-desktop {
		display: inherit !important;
	}
	.hidden-desktop {
		display: none !important;
	}
}

// Desktop Modes
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.large1 .item2 {width:100%;}
	.large2 .item2 {width:49%;margin:0.5%;}
	
	.large5 .item2{width:18%;margin:0.7%;}
	.large5 .imageitem{width:37.2%;}
	.large5 .galleryitem{width:37.2%;}
	.large5 .videoitem{width:37.2%;}
	
	.large3 .item2{width:31.3%;margin:0.7%;}
	.large3 .imageitem{width:63.8%;}
	.large3 .galleryitem{width:63.8%;}
	.large3 .videoitem{width:63.8%;}
	
	.large4 .item2 {width:23.4%;margin:0.5%;}
	.large4 .imageitem{width:47.7%;}
	.large4 .galleryitem{width:47.7%;}
	.large4 .videoitem{width:47.7%;}
	
	.visible-large {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
	.visible-desktop {
		display: inherit !important;
	}
	.hidden-desktop {
		display: none !important;
	} 
	.promo {
		h1 {
			font-size: 3.7em;
		}
		p {
			font-size: 1.3em;
		}
	}
	.promo-image {
		width: 40%;
	}
	.promo-image img {
		max-width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 959px) {
	.large2 .item2 {width:48.5%;margin:0.3%;}
	
	.large5 .item2{width:18%;margin:0.4%;}
	.large5 .imageitem{width:36.8%;}
	.large5 .galleryitem{width:36.8%;}
	.large5 .videoitem{width:36.8%;}
	
	.large3 .item2{width:31%;margin:0.4%;}
	.large3 .imageitem{width:62.5%;}
	.large3 .galleryitem{width:62.5%;}
	.large3 .videoitem{width:62.5%;}
	
	.large4 .item2 {width:24%;margin:0.3%;}
	.large4 .imageitem{width:48.5%;}
	.large4 .galleryitem{width:48.5%;}
	.large4 .videoitem{width:48.5%;}
	
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-large {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}	

	// Promo Showcase
	.promo-image {
		width: 38%;
	}
	.promo-image img {
		max-width: 100%;
	}
	.promo {
		h1 {
			font-size: 2.9em;
		}
		p {
			font-size: 1.1em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
}

// Mobile Modes
@media (max-width: 767px) {
	
	body {
    	padding: 0;
  	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
	.visible-large {
		display: none !important;
	}

	// Logo
	

	// WordPress Core
	body .component-content {
		.column-1, .column-2, .column-3 {
			width: 100% !important;
			float: none !important;
			margin: 0 !important;
		}
	}

	// Features
	#gantry-totop {
		bottom:50px;
    right:50px;
	}

	// Extras
	.gantry-width-20, .gantry-width-25, .gantry-width-30, .gantry-width-33, .gantry-width-40, .gantry-width-50, .gantry-width-60, .gantry-width-66, .gantry-width-70, .gantry-width-75, .gantry-width-80 {
		width: 100%;
	}
	.gantry-width-spacer {
		margin: 5px;
	}

	.row {
		margin: 0;
		display: block;

		.cell {
			display: block;
			width: 100%;
		}
	}

	.form-horizontal {
		.control-group {
			.control-label {
				float:none;
				width: auto;
				text-align:left;
			}
			.controls {
				margin-left: 0;
			}
		}
	}
	select {
		width: 100%;
	}
}

// Promo Showcase
@media only screen and (min-width: 481px) and (max-width: 767px) {
.gf-menu-toggle{
	position: absolute;
	z-index:999999;
	top: 5px;
	left: 10px;
}
.widget_gantry_mimosocial{padding:0;margin:0;display:inline-block;float:left;}
#newswallmimo-filter li:first-child a {  
	padding:20px 10px; 
	margin:0px;
	}
	.allnewswallmimo-filter{
	width:100%;
	position:static;
	top:70px;
	left:-10px;
	z-index:3;
	display:none;
	margin:0px 0px 10px -5px;
	}
	#rt-top{position:static;}
	.large2 .item2 {width:48%;margin:0.3%;}
	
	.large5 .item2{width:48%;margin:0.3%;}
	.large5 .imageitem{width:48%;}
	.large5 .galleryitem{width:48%;}
	.large5 .videoitem{width:48%;}
	
	.large3 .item2{width:48%;margin:0.3%;}
	.large3 .imageitem{width:48%;}
	.large3 .galleryitem{width:48%;}
	.large3 .videoitem{width:48%;}
	
	.large4 .item2 {width:48%;margin:0.3%;}
	.large4 .imageitem{width:48%;}
	.large4 .galleryitem{width:48%;}
	.large4 .videoitem{width:48%;}
	.ca-item1col, .ca-wrapper .ca-item1col{width:50%;display:inline-block;}
.ca-item2col, .ca-wrapper .ca-item2col {width:50%;display:inline-block;}
.ca-item3col, .ca-wrapper .ca-item3col{width:50%;display:inline-block;}
.ca-item4col, .ca-wrapper .ca-item4col{width:50%;display:inline-block;}
	
	.promo-image {
		width: 48%;
		margin-top: 0;
		margin-bottom: 0;
		img {
			max-width: 100%;
		}
	}
	.promo {
		h1 {
			font-size: 2.2em;
		}
		p {
			font-size: 1em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
}
@media only screen and (max-width: 480px) {
.gf-menu-toggle{
	position: absolute;
	z-index:999999;
	top: 5px;
	left: 33px;
}
.widget_gantry_mimosocial{padding:0;margin:0;display:inline-block;float:left;}
#newswallmimo-filter li:first-child a {  
	padding:20px 10px; 
	margin:0px;
	}
	.allnewswallmimo-filter{
	width:100%;
	position:static;
	top:70px;
	left:-10px;
	z-index:3;
	display:none;
	margin:0px 0px 10px -5px;
	}

#rt-top{position:static;}
	.large2 .item2 {width:100%;margin:4px 0px;}
	
	.large5 .imageitem{width:100%; vertical-align:top;}
	.large5 .galleryitem{width:100%; vertical-align:top;}
	.large5 .videoitem{width:100%; vertical-align:top;}
	.large5 .item2{width:100%; vertical-align:top;margin:4px 0px;}

	.large3 .imageitem{width:100%; vertical-align:top;}
	.large3 .galleryitem{width:100%; vertical-align:top;}
	.large3 .videoitem{width:100%; vertical-align:top;}
	.large3 .item2{width:100%; vertical-align:top;margin:4px 0px;}

	.large4 .item2 {width:100%;margin:4px 0px;}
	.large4 .imageitem{width:100%;}
	.large4 .galleryitem{width:100%;}
	.large4 .videoitem{width:100%;}
	
	.ca-item1col, .ca-wrapper .ca-item1col{width:100%;display:inline-block;}
	.ca-item2col, .ca-wrapper .ca-item2col {width:100%;display:inline-block;}
	.ca-item3col, .ca-wrapper .ca-item3col{width:100%;display:inline-block;}
	.ca-item4col, .ca-wrapper .ca-item4col{width:100%;display:inline-block;}
	
	body {
    	padding: 0;
  	}
  	#rt-logo {
		margin: 0 auto;
	}
	.promo-image {
		margin: 0 auto;
		width: 100%;
		float: none;
		text-align: center;
		img {
			max-width: 50%;
		}
	}
	.promo {
		h1 {
			font-size: 2.2em;
		}
		p {
			font-size: 0.9em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
}
