/**
 * @version   $Id: style.less 4738 2012-10-30 09:35:45Z james $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

// Core
body {
	
}

a:hover {
	color: @black;
	text-decoration:underline;
}
h1{line-height:1.1em;} 
h2{line-height:1.1em;} 
h3{line-height:1.2em;} 
h4{line-height:1.2em;} 
h5{line-height:1.3em;} 
h6 {line-height:1.3em;}

ul li{list-style-type:none}
.widget_gantry_copyright{margin:0px 20px;background:@white;}
.widget_gantry_copyright .module-surround{padding:0px 0px;}
.copyright{
	
	font-size: @menuFontSize - 4;
	font-weight:300;
	margin:0px 3px 40px;
	padding:10px 3px;
	color:@black;
	
}
.copyright a{}
.all_post{overflow:hidden;background:@white;}

.back .module-content{background:@white;}
.banner .module-content{padding:0px;}


.item-page .type-post{padding:20px;}
.type-post{padding:0px;

}
.item-page .blog_content_standard{padding:0px;
}
.covernews{background:@white;}
.pluginSkinLight div{border-color:@white;}

#rt-top{ 
	background:@white;
	top:0px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	z-index:4;
}
.fixed {
    
position: fixed;
 top: 0;   
}
#rt-header{
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.myrt-top{height:0px;}
#rt-top .rt-container{}
#rt-copyright{}
#rt-copyright .rt-container{padding:0px 0px;background:transparent;}
#rt-copyright .module-content{padding:0px;}
#rt-bottom .rt-container{padding-top:0px;}
#rt-bottom{background:@white;border-top:1px solid @black;}
// Modules
.title, .component-content h2, .title, .component-content h2 a{
	
	display:inline-block
	}
.component-content h1 {
	
	}
.title1 {
	.title {
		color: @white;
		background:@black;
		
	}
	
}
.title1 .module-title h2 {
		color: @white;
		background:@black;
		}
.title1 .module-title h2:after{color:@white;}
.title2 {
	.title {
		color: @white;
		
		
	}
}
.title2 .module-title h2 {
		color: @white;
		
		
	
}
.title2 .module-title h2:before{color:@white;}
.title3 {
	.title {
		color: @white;
		background:@dark-grey ;
		
	}
	
}
.title3 .module-title h2 {
		color: @white;
		
		
	
}
.title3 .module-title h2:before{color:@white;}
.titlefc {
	.title {
		color: @white;
		
		
	}
	
}
.titlefc .module-title h2:before{color:@white;}
.titlefc .module-title h2 {
		color: @black;
		
		
	
}
.titlesc {
	.title {
		color: @white;
		
		
	}
	
}
.titlesc .module-title h2 {
		color: @white;
		
		
	
}
.titlesc .module-title h2:before{color:@white;}
.titletc {
	.title {
		color: @white;
		
		
	}
	
}
.titletc .module-title h2 {
		color: @white;
		
		
	
}
.titletc .module-title h2:before{}
.titlefoc {
	.title {
		
		
		
	}
	
}
.titlefoc .module-title h2 {
		
		
		
	
}
.titlefoc .module-title h2:before{}
.titlefic {
	.title {
		color: @white;
		
		
	}
	
}
.titlefic .module-title h2 {
		color: @white;
		
		
	
}
.titlefic .module-title h2:before{color:@white;}

.box1 {
	background: @light-grey;
	color: @dark-grey;
	
}
.box2 {
	color: @bodytitle;
	background: @footerbackground;
	
}


// Module Overrides


// Menu Modules
ul.menu {
	li.active.current, li#current.active {
		> a, > .item, > .separator {
			color: @bodytitle;
		}
	}
}

// Buttons and Inputs
.button, button.validate, #member-profile a, #member-registration a, .formelm-buttons button {
	color: @white;
	border:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	&:hover {
		
	}
	&:active {
		
	}
}
.readmore, .readon {border:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:4px 0px;
	a {
		color: @black;
		
		&:hover {
			color: @black;
		}
	}
}



// Typography
.pagenav {
	li {
		background: @bodybackground2;
		border: 1px solid @bodyborder;
		box-shadow: inset 0 0 0 1px @white, 0 1px 2px rgba(0,0,0,0.2);
	}
}
.login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox, .inputbox {
	border: 1px solid #d9d9d9;
}
.component-content {
	.contact {
		.title {
			#gradient > .vertical(@bodycontrast, @bodyborder2);
			border: 1px solid @bodyborder;
			text-shadow: 0 1px 1px rgba(255,255,255,.75);
		}
	}
}
.pagination {
		margin: 10px 0;
		padding: 10px 10px;
		clear: both;
		text-align: right;
		.counter {
			display:inline-block;
			text-align: left;
			float:left;
			padding:10px 20px;
			margin: 0;
			font-weight: bold;
			margin-bottom: 5px;
			+ ul li {
				span, a {
					padding: 6px 0;
				}
			}
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			.box-shadow(none);
			li:last-child{border-right:0;}
			li {border-right:1px solid @dark-grey;
				display: inline-block;
				text-align: center;
				a, span {
					margin: 0 5px;
					padding: 10px;
					font-size: 16px;
					line-height: 20px;
					
					background: none;
					border: none;
					text-shadow: none;
				}
			}
		}}
.breadcrumbs, .breadcrumb {
	a {
		&:after {
			color: @bodytextlight;
		}
	}
	.showHere {
		font-weight: bold;
		margin-right: 5px;
	}
}
.article-info {
	dd:before {
		;
	}
}

.tip-wrap {
	background: @bodycontrast;
	.box-shadow(0 0 5px rgba(0,0,0,0.3));
	color: @bodytext;
}
.system-unpublished .system-unpublished {
	background: @bodycontrast;
	border-color: @bodyborder;
}

// Typography

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted @bodyborder;
}

// Blockquotes
blockquote {
  border-left: 5px solid @bodyborder;
  small {
    color: @bodytextlight;
  }

  &.pull-right {
    border-right: 5px solid @bodyborder;
  }
}

// Forms
legend {
  color: @bodytitle;
  border-bottom: 1px solid @bodyborder;

  small {
    color: @bodyborder;
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],

input[type="tel"],
input[type="color"],
.uneditable-input {
  color: @bodytext;
   min-width:98%;
   
}
#submit{color:@white;border:0;} 
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
 
  
}
/* Searchform */
#searchform i{
	font-size: @menuFontSize + 4;
	
	padding:16px 1px 15px; 
	float:right;
	
	}
.searchhome a{
	font-size: @menuFontSize + 8;
	
	padding:23px 10px 26px; 
	float:right;
	
	}
.searchhome a:hover i{
	color:@white;
	text-decoration:none;	}

.searchall:hover i{
	color:@white;	
	}
.searchall:hover #searchform input[type="text"]{
	color:@white;	
	}
.searchall:hover #searchform input[type="text"]::-webkit-input-placeholder {
   color: @white;
}
.searchall:hover #searchform input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: @white;
}

.searchall:hover #searchform input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: @white;
}

.searchall:hover #searchform input[type="text"]:-ms-input-placeholder {  
   color: @white; 
}
#searchform{display:inline-block;padding:10px 0px;border:0;}
.searchall{padding:0px 10px;margin:0px;float:right;border:0;background:transparent;}
.searchall:hover{color:@white;}
.searchall form{padding:0px;margin:0px;float:right;border:0;background:transparent;}

#searchform input[type="text"]{
min-width:10px;
width:140px;
font-size: @menuFontSize - 2;
text-transform: uppercase;
color: @white;
background:transparent;
border:0;
padding:15px 10px;
-webkit-border-radius: 0px; 
-moz-border-radius: 0px;
border-radius: 0px;
font-weight:400;
-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,00);
-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,00);
box-shadow: inset 0 1px 1px rgba(0,0,0,00);

display:none;
}
#s{border:0;}
select {
  border: 0px solid @bodyborder;
}

// Uneditable inputs
.uneditable-input,
.uneditable-textarea {
  color: @bodytextlight;
  background-color: @bodybackground;
  border-color: @bodyborder;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
}

// Inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: @bodyborder;
}

.input-prepend,
.input-append {
  .add-on {
    text-shadow: 0 1px 0 @bodycontrast;
    background-color: @bodybackground2;
    border: 1px solid @bodyborder;
  }
}

// Form Actions
.form-actions {
  background-color: @bodybackground2;
  border-top: 1px solid @bodyborder;
}

.uneditable-input {
  background-color: @inputBackground;
  border-color: #eeeeee;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
}

// Help Text
.help-block,
.help-inline {
  color: @gray;
}

// Extras
.well,
.table-bordered th {
	background-color: @bodybackground2;
}

.nav-tabs.nav-stacked > li > a {
	background-color: @bodybackground2;
	&:hover {
		background-color: @bodybackground4;
	}
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.cat-list-row0 {
	background-color: @bodybackground4;
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover,
.cat-list-row0:hover, .cat-list-row1:hover {
	background-color: @bodybackground3;
}

// Notice Styles
p {
	&.success, &.info, &.error, &.warning {
		.border-radius(6px);
		padding: 15px;
		font-weight: bold;
		border: 1px solid;
		a {
			color: #666 !important;
			&:hover {
				color: #000 !important;
				text-shadow: none;
			}
		}			
	}
	&.success {
		background: @successBackground;
		border-color: @successBorder;
		color: @successText;
	}
	&.info {
		background: @infoBackground;
		border-color: @infoBorder;
		color: @infoText;
	}
	&.error {
		background: @errorBackground;
		border-color: @errorBorder;
		color: @errorText;
	}
	&.warning {
		background: @warningBackground;
		border-color: @warningBorder;
		color: @warningText;
	}
}
/*Related Posts */

.midwidth{width:45%;margin:0;padding:0;float:left;display:inline-block;}
.related{float:right;}


.related-all{padding:20px 0px;}
.review-title-padding{padding:0px 40px 0px 0px}
/*Newswall*/
.stretch {
    display: inline-block;
    width: 100%;
    
    /* if you need IE6/7 support */
    *display: inline;
    zoom: 1
}
.cover{
	background:transparent;
	overflow:hidden;
	}
.covernews{
	background:transparent;
	overflow:hidden;
	margin-left:auto; margin-right:auto;
	display:inline-block;
	}


.rock_newswall{line-height:0px;z-index:5;}
#portfolio, #newswall, #container_newswall, .ca-container {
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	-o-transition-property:top, left, opacity;
	transition-property:transform, opacity;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
	text-align:justify;
	z-index:0;
	padding-bottom:100px;
	
	
	
	}
.mimo_portfolio_single_item, mimo_newswall_single_item {
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	 display: -moz-inline-stack;
	display: inline-block;	
	vertical-align: top;
	width:100%;
	margin:0px 6px 6px 0px; 
	overflow:hidden;
	position:relative;
	}
.view_project{
	display:none; 
	font-style:italic;
	
	}
	#newswall ul, #newslist ul{ 
	float:inherit;
	}

.container_newswall_class ul{ 
	float:inherit;
	}
.container_newswall_class .item2 { 

	background: @white;
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	overflow:hidden;
	
	}
	
.share-icons{position:relative;}

.icons .module-title{}
.mimo_content{	padding:0px 20px 10px 20px;	overflow:hidden;color:#ffffff;}
.post-info{display:inline-block;padding:0px;margin:0px auto;float:right;height:30px;}
.post-info-single{display:inline-block;padding:0px;margin:0px auto;background:@black;height:40px;}
.post-infopost{display:block;padding:0px;margin:0px;height:30px;position:relative;}
.atop{height:100%;width:30px;vertical-align:top;}
.top-newswall{display:block;height:30px;}
.top-postnewswall{display:block;padding:4px 0px 0px 4px;}
.top-singlenewswall{position:relative;display:block;padding:0px 0px 0px 0px;}

.widget_gantry_mimoshare ul.icons{}
.ca-item{border:0px;outline:none;border-right:0px;height:100%;margin:0px;margin-left:0px;margin-right:0p}
.ca-item1col, .ca-wrapper .ca-item1col{width:100%;display:inline-block;}
.ca-item2col, .ca-wrapper .ca-item2col {width:50%;display:inline-block;}
.ca-item3col, .ca-wrapper .ca-item3col{width:33.33%;display:inline-block;}
.ca-item4col, .ca-wrapper .ca-item4col{width:24.9%;display:inline-block;}
.ca-item-slider{width:25%;}
.ca-wrapper{margin:0px;}
.mimo_image_post_format, .mimo_link_post_format, .mimo_audio_post_format{height:40px;}

.widget_gantry_mimoresponsivemenu{display:none;}
#rt-top{width:100%;}
#newswall, #newslist {
	width:100%; 
	display:block; 
	text-align:justify;
	}
#container_newswall {
	width:102%; 
	display:inline-block;
	margin-top:10px; 
	margin:0  0 0 -1%;}
	/* Filters */  
/*.before-filter{
	width:1140px;
	margin:0 auto;
	}*/
#newswallmimo-filter, #newswall-filter, #portfolio-filter {  
	opacity:0.9;
	list-style-type: none;  
	display:inline-block;
	margin:0px;
	text-align:left;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	
	}
.widget_gantry_menu{}
.allnewswallmimo-filter{
	width:100%;
	position:fixed;
	top:70px;
	left:0px;
	z-index:3;
	display:none;}
#newswallmimo-filter li a:hover, #newswall-filter li a:hover, #newswallmimo-filter li .selected , #newswall-filter li .selected , #portfolio-filter li .selected ,#portfolio-filter li a:hover{color:@white;} 
#newswallmimo-filter li, #newswall-filter li, #portfolio-filter li {  
	display: inline;  
	}
	 
#newswallmimo-filter li a, #newswall-filter li a, #portfolio-filter li a {  
	text-decoration: none; 
	font-size: @articleinfofs;
	text-transform:uppercase;
	padding:20px 10px;
	display:inline-block;
	font-weight:300;
	
	
	
	
	}  
#newswallmimo-filter li a:hover, #newswall-filter li a:hover, #portfolio-filter li a:hover {
	text-decoration: none;
	background: @dark-grey;
	color:@white;
	}  
#newswallmimo-filter li .selected, #newswall-filter li .selected, #portfolio-filter li .selected {
	background: @dark-grey;
	color:@white;
	} 




.post-info{position:relative;} 

#facebook-comments{padding:10px 0px 0px;display:block;}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
.fb_iframe_widget,.fb_iframe_widget span,.fb_iframe_widget .fb_ltr {
width: 100%! important;text-align:center;
}
/* Custom Mimo Recent Posts Widget */

.recent_content_total, .recent_content_news, .recent_content_recent{padding:0px;}
#rt-sidebar-a .recent_content_recent, #rt-sidebar-b .recent_content_recent, #rt-sidebar-c .recent_content_recent{padding:0px;}

	/* Newswall */

/* Portolio Hover */

.gotopost {
	position: absolute;
	opacity:0;
	top:0px;
	z-index:1;
	display:block;
	width:100%;
	
}


.nopretty{line-height: 0px;height:100%;}
/* Isotope */

.isotope-item {
	z-index: 2;
	}

.isotope-hidden.isotope-item {
    pointer-events: none;
  	z-index: 1;
	}

.isotope,
.isotope .isotope-item,
.info{
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope,
.info {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item, .widget_gantry_menu, .widget_nav_menu, 
.info {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition,
.info{
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.mimo_titlespan a , .share-info a {font-size:12px;
line-height:16px;
	max-width:70%;
	position:absolute;
	left:5px;
	top:5px;
	color:#ffffff;
	float:left;
	text-align:left;
	font-weight:normal;
	opacity:0.9;
	text-indent:0px;
	text-transform:uppercase;}
.mimo_titlespan a:hover , .share-info a:hover, .mimo_carousel_link:hover {text-decoration:underline;}
.titletop{display:inline-block;}
.mimo_newswall_link {display:inline-block;font-size:30px;
line-height:38px;
		float:left;
	text-align:left;
	color:#ffffff; 
	padding:5px 20px 0px 40px;
	font-weight:normal;}


 h2.title, .module-title h2, .mimo-module-title h2, .review-title h2{font-size: @menuFontSize;display:inline-block;padding:10px 0px;font-weight:400; margin-bottom:-3px;color:@dark-grey;text-transform:uppercase; }
	
 .module-title h1{font-size:@moduletitleFontSize + 2;display:block;padding:0px 0px 10px 0px;margin:0;}
.widget_gantry_mimotwitter .module-title:before{content: "\f099";}
.widget_tag_cloud .module-title:before{content: "\f02b";}
 .widget_gantry_vimeo .module-title:before, .widget_gantry_youtube .module-title h2:before{content: "\f069";}

.widget_gantry_mimonews .module-title:before{content: "\f078";}
.widget_gantry_mimocarousel .module-title:before{content: "\f07e";}
.widget_gantry_mimoshare .module-content,#rt-sidebar-a .widget_gantry_mimoshare .module-content,#rt-sidebar-b .widget_gantry_mimoshare .module-content,#rt-sidebar-c .widget_gantry_mimoshare .module-content {padding:0px;}
.module-title, .review-title, .widget .module-title{margin:0px;padding:0px 0px 10px;display:block;text-align:left;position:relative;}

#rt-sidebar-a,#rt-sidebar-b,#rt-sidebar-c{margin:20px 0px;background:@white;color:@black;}

/*.widget_tag_cloud .module-title:after{content: "\f02b";}*/
.post-sidebar .module-title{margin-bottom:20px;}
.share-icons li:first-child h2 {margin-top:0px;}

.module-title:before{
	content: "\f067";
	 font-family: FontAwesome;
	display:block;
	padding:2px 0px;
	font-size: @menuFontSize - 6;
	border-bottom:4px solid @dark-grey;
		}
	/*.post-sidebar .module-title:after{
	content: "\f067";
	 font-family: FontAwesome;
	display:inline-block;
	margin:10px 0px;
	color:@white;
	
	position:absolute;
	bottom:-30px;
	font-size: @menuFontSize - 6;
	line-height: @menuLineHeight;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	}
	*/

.dcjq-parent:before{font-weight:normal;content: "\f0d7";font-family: FontAwesome;color:@black;line-height:14px;padding:5px 20px;font-size:14px;font-style: normal;
    font-weight: normal;webkit-margin-end:40px;
    text-decoration: inherit;background:@white;float:right;}
.module-title {}
.twitter-title {background:url(../images/share/share-twitter.png) center right no-repeat @black;}
.facebook-title {background:url(../images/share/share-facebook.png) center right no-repeat @black;}
.rss-title {background:url(../images/share/share-rss.png) center right no-repeat @black;}
.twitter-title h2 a,
.facebook-title h2 a,
.rss-title h2 a{
	
	}


#newswall ul, #newslist ul{ 
	float:inherit;
	}
.container_newswall_class ul{ 
	float:inherit;
	margin:0px;
	}
.container_newswall_class .item2 { 
	background: transparent;
	position:relative;
	overflow:hidden;
	}

/* Social Widget */

.socialtext{opacity:0;display:inline-block;text-transform:uppercase;font-size:@menuFontSize;vertical-align: top;padding:1px 0px;}
.socialinline{display: inline-block;color:@white;padding:0px;}
.socialhidden{display:none;overflow:hidden;height:20px;}
.mimo_social{  
	list-style-type:none;
	/*text-align:center;*/
	margin:0px;
	padding:0px 0px;
	vertical-align:top;
	min-width:40px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	font-size: @menuFontSize + 4;
}
.mimo_social li{display:inline-block;float:left;padding:0px 0px;margin:0px;opacity:1;}
.widget_gantry_mimosocial .module-content{
padding:0px;
	}
.black{background:@black;height:100%;width:100%;}
.all_icon{}
.all_icon a:hover{text-decoration:none;color:@white;}
.all_icon {padding: 25px 10px;margin:0px;
display:inline-block;}

/* All widgets */
.widget_gantry_recentposts ul li a, .widget_gantry_links ul li a, .widget_gantry_categories ul li a, .widget_gantry_categories ul li a span, .widget_gantry_archives ul li a, .widget_archive ul li a, .widget_pages ul li a, .widget_meta ul li a, .widget_categories ul li a, .widget_gantry_pages ul li a, .widget_links ul li a, .widget_recent_entries ul li a, .widget_gantry_meta ul li a{padding:0px;margin:2px 0px;font-weight:300;text-transform:uppercase;font-size:80%;
color:@dark-grey;
	}
.widget_gantry_recentposts ul li:hover, .widget_gantry_links ul li:hover, .widget_gantry_categories ul li:hover, .widget_gantry_archives ul li:hover, .widget_archive ul li:hover, .widget_pages ul li:hover, .widget_meta ul li:hover, .widget_categories ul li:hover, .widget_gantry_pages ul li:hover, .widget_links ul li:hover, .widget_recent_entries ul li:hover, .widget_gantry_meta ul li:hover{color:#ffffff;
	}
.widget_gantry_recentposts ul li , .widget_gantry_links ul li , .widget_gantry_categories ul li , .widget_gantry_archives ul li, .widget_archive ul li, .widget_pages ul li, .widget_meta ul li, .widget_categories ul li, .widget_gantry_pages ul li, .widget_links ul li, .widget_recent_entries ul li, .widget_gantry_meta ul li  {
	display:block;margin:0px;padding:5px 0px;border-top: 1px dashed @light-grey;list-style-type:none;}
	.widget_gantry_recentposts .module-content , .widget_gantry_links .module-content  , .widget_gantry_categories .module-content , .widget_gantry_archives .module-content , .widget_archive .module-content , .widget_pages .module-content , .widget_meta .module-content , .widget_categories .module-content , .widget_gantry_pages .module-content , .widget_links .module-content , .widget_recent_entries .module-content , .widget_gantry_meta .module-content   {
	padding:0px;}
	.widget_gantry_recentposts ul , .widget_gantry_links ul , .widget_gantry_categories ul , .widget_gantry_archives ul , .widget_archive ul , .widget_pages ul, .widget_meta ul , .widget_categories ul, .widget_gantry_pages ul, .widget_links ul, .widget_recent_entries ul, .widget_gantry_meta ul{
	margin:0px; list-style-type:none;}
ul li:first-child{border-top: 0px solid @dark-grey;}
 #rt-sidebar-a .widget_gantry_mimotabs .module-content,#rt-sidebar-b .widget_gantry_mimotabs .module-content, #rt-sidebar-c .widget_gantry_mimotabs .module-content{padding:0;}  
.widget_gantry_newswall .module-content, .widget_gantry_mimocarousel .module-content{}
.nopadding .module-content{padding:0px;}
.nopadding .module-surround{padding:0px;}
.nopadding {padding:0px;}

.toppadding .module-content{padding:20px 0px;}
.toppadding {padding:0px;}
.toppadding .module-surround{padding:0px;}
.sidepadding .module-content{padding:0px 20px;}
.sidepadding {padding:0px;}
.sidepadding .module-surround{padding:0px;}

.padding .textwidget{padding:20px;}
.nopadding img{padding:0px;vertical-align:top;}
.banner90{height:90px;}
/* Tags Widget */

.tagcloud{padding:0px 0px;}

.tagcloud a, .module-content-tags a{
	padding:0px 1px;
	border:0;
	display:inline-block;
	margin:0px;
	font-weight:300;
	text-transform:uppercase;
	}
.tagcloud a:hover{
	
	
	}

.post-tags .rt-block{padding:0;}
.post-tags {padding:0px 20px;}

/* Post footer */
.post-footer{
padding:20px 0px;
}
/* Blockquote */
blockquote p {
margin-bottom: 0;
font-size: 26px;
font-weight: 300;
line-height: 30px;
font-style:italic;
padding:20px;
}
/*Accordion menu */
.theaccordion ul{list-style-type:none;margin:0px;}
.theaccordion ul ul{padding:0px;}

.theaccordion ul li{padding:0px;border-top: 1px solid rgba(0,0,0,0.1);}
.theaccordion ul li a{padding:10px 0px 10px 20px;font-weight:normal;font-size:12px;display:block;color:@black;
}
.theaccordion ul li ul li{background:@white;
}

.theaccordion ul li a:hover{color:@black;text-decoration:underline;}
.sub-menu{margin-left:0px;}

.dcjq-parent{}

.widget_recent_entries ul{margin:0px;}

/* Blog Navigation */


#infscr-loading{
	position:absolute;
	bottom:0px;
	left:0px;
	margin:0px 12px;
	z-index:9999999;
	background:transparent;
	padding:10px;
	height:20px;
	color:@white;
}
#infscr-loading .msg{
	padding:10px;
	display:inline-block;float:left;
	font-size: @menuFontSize - 6;
	text-transform:uppercase;
	height:20px;
}
.spinner{
	width:20px;
	height:20px;
	display:inline-block;
	float:left;
	color:@medium-grey;
}
.navigation{
	margin:0px;
	width:40px;
	height:40px;
	text-align:center;
	display:inline-block;
	float:left;
	padding:10px 0px 0px 0px;
	z-index:4;
	}
.navigation-single{
	display:block;
	padding:10px 0px;
}
.navigation a{
	display:inline-block;
	font-size: @menuFontSize;
	width:20px;
	height:20px;
	font-weight:300; 
	text-transform:uppercase;
	padding:10px;
	color: @white;
}
.navigation-single a{
	display:inline-block;
	font-size: @menuFontSize - 4;
	font-weight:300; 
	text-transform:uppercase;
	padding:10px;
}

.navigation a:hover{ 
		text-decoration: none;
		color:@white;
		background: @black;
}
.right{
	display:inline-block;
	float:right;
}
.first{
	display:inline-block;
	float:left;
}
.navigation-single .first:before {
	font-family:fontAwesome;
	content: "\f053";
	font-size: @menuFontSize - 6;
	line-height: @menuLineHeight - 6;
	padding:0px;
}

.navigation-single .right:after {
	font-family:fontAwesome;
	content: "\f054";
	font-size: @menuFontSize - 6;
	line-height: @menuLineHeight - 6;
	padding:0px;
}


/* Modules backgrounds */
.white, .black{
	color:@white;
}
.white .module-content{
	background:@white;
}
.black .module-content{
	background:@black;
}

.frase{
	font-size:@articletitleFontSize + 22;line-height:1.2em;
	padding:10px 0px;
	margin:10px 0px;
	font-weight:300;
	
	}
.mediumfrase{
	font-size:@articletitleFontSize + 8;line-height:1.2em;
	padding:2px 0px;
	margin:2px 0px;
	font-weight:300;
	
	}
.smallfrase{
	font-size:@articletitleFontSize + 2;line-height:1.2em;
	padding:0px 0px;
	margin:2px 0px;
	font-weight:300;
	
	}
.fraseblock, .fcfraseblock, .scfraseblock, .tcfraseblock, .focfraseblock, .ficfraseblock, .sicfraseblock, .blackfraseblock, .greyfraseblock{ 
	font-size:@articletitleFontSize + 22;line-height:1.5em;
	margin:2px 0px;
	
	padding:4px 4px;
	font-weight:300;
	color:@white;
	
	
	}
.mediumfraseblock, .fcmediumfraseblock, .scmediumfraseblock, .tcmediumfraseblock, .focmediumfraseblock, .ficmediumfraseblock, .sicmediumfraseblock, .blackmediumfraseblock, .greymediumfraseblock{
	font-size:@articletitleFontSize + 8;line-height:1.5em;
	padding:0px 6px;
	color:@white;
	margin:2px 0px;
	font-weight:300;
	}
.smallfraseblock, .fcsmallfraseblock, .scsmallfraseblock, .tcsmallfraseblock, .focsmallfraseblock, .ficsmallfraseblock, .sicsmallfraseblock, .blacksmallfraseblock, .greysmallfraseblock{
	font-size:@articletitleFontSize + 2;line-height:1.5em; 
	color:@white;
	padding:0px 2px;
	margin:2px;
	width:98%;
	font-weight:300;
	
	}

/* All Widgets*/

.widget .article-info{
	padding:5px 0px;
	font-weight:300;
	border-top: 1px dashed rgba(211, 211, 211, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		i{
			display: inline-block;
			}
		dl{
			display: inline-block;
			}
		dd{
			vertical-align:top;
			display: inline-block;
			padding:3px 3px 3px 0px;
			}
}

.imagepad{}
.hidden{position:absolute;
top:0px;
left:0px;
display:none;}
#infscr-loading div{

}
.rss_count{background:url(../images/share/share-rss.png) no-repeat bottom right #969696;}
	.rss_count_in{background:url(../images/share/share-rss.png) no-repeat bottom right #f39c20;}
.facebook_count {background:url(../images/share/share-facebook.png) no-repeat bottom right #969696;}
.facebook_count_in{background:url(../images/share/share-facebook.png) no-repeat bottom right #2e6dba;}
.twitter_count{background:url(../images/share/share-twitter.png) no-repeat bottom right #969696;}
.twitter_count_in{background:url(../images/share/share-twitter.png) no-repeat bottom right #04cbf6;}	
.widget_gantry_mimoshare .module-content{padding:0px;}
.widget_gantry_mimoshare ul{margin:0px;}

/* Carousel Widget */
/* Circular Content Carousel Style */

.ca-container, .ca-container-slider{
	position:relative;
	width:100%;
	text-align:justify;
	margin:0px;
	padding:0px;
	background:transparent;
	-webkit-backface-visibility: hidden;
	overflow:hidden;
	}
.ca-wrapper{
	width:100%;
	text-align:justify;
	margin:0px;
	padding:0px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
	background:transparent;
	
	-webkit-backface-visibility: hidden;
	}
.ca-nav{
	opacity:0;
	}
.ca-more{
	color: white;
	vertical-align:top;
	display:inline-block;
	}
.ca-close{
	position:absolute;
	top:10px;
	left:10px;
	background:#fff url(../images/carousel/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
	}
.ca-close:hover{
	opacity:1.0;
	}
.ca-item-main{
	overflow:hidden;
	}
.ca-item-main-slider{
	padding:5px;
	}
.ca-icon{
	opacity:1;
	background:transparent;
	z-index:2;
	}
.ca-item{
	display:inline-block;
	-moz-border-radius:0;
	/* Opera 8.5+ and CSS3 */
  box-sizing: border-box;
  /* Firefox 1+ */
  -moz-box-sizing: border-box;
  /* IE8 */
  -ms-box-sizing: border-box;
  /* Safari 3+ */
  -webkit-box-sizing: border-box; 
  border-right:0;
  outline:0;
	}
.imgsize{display:none;}
.thecategory{
color:@white;
padding:5px 0px;
text-transform: uppercase;
	}
.carousel-title h2{
					font-size:@articletitleFontSize;
					margin-top:0px;
					font-weight:300;
					word-wrap: break-word;
					padding:10px 0px ;
					line-height:1.2em;
					text-transform: uppercase;
					display:block; 
					}
.thecategory  a, .thecategory-slider ul li a{
	
	padding:3px 0px;
	font-size:14px;
	line-height:20px;
	
	
	
	}
.thecategory  a{
}
.ca-content-wrapper{
	 color:@white;
	padding:20px;
	/*width:0px; expands to width of the wrapper minus 1 element */
	
	text-align:left;
	z-index:900;
	outline:0;
	border:0;
	
	}

.ca-content{
	
	overflow:hidden;
	width:100%;
	height:100%;
	}

.mimo_recent_link {font-size:25px;
line-height:25px;
	max-width:70%;
	position:absolute;
	left:20px;
	top:30px;
	color:@white;
	float:left;
	text-align:left;
	font-weight:normal;
	opacity:0.9;
	text-indent:0px;
	display:block;
	width:100%;}
.mimo_recent_link:hover{color:@white; text-decoration:underline;}
.widget_gantry_mimocarousel .module-title h2{margin-bottom:0px;}
#rt-sidebar-a .widget_gantry_mimocarousel .module-content, #rt-sidebar-b .widget_gantry_mimocarousel .module-content, #rt-sidebar-c .widget_gantry_mimocarousel .module-content{}

/* Flexslider */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;overflow:hidden;}
.flexslider .slides > li, .gallery-size-slider .gallery-item {display: none; -webkit-backface-visibility: hidden; }
 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {}
.flex-pauseplay span {text-transform: capitalize;}
.gallery-size-slider{overflow:hidden;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.newswall-image, .mimo_newswall_details_mimo, .flexslider, .cn_wrapper_total {margin: 0;position: relative; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;width:100%;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}

.flex-loading {min-height: 300px; background:  no-repeat center center;}

/* Direction Nav */
.flex-direction-nav li{display: inline-block;border:0px;}
.flex-direction-nav a i{padding:10px;font-size: @menuFontSize;
		line-height: @menuLineHeight;}
.flex-direction-nav {*height: 0;z-index:2;display:none;width:100%;position:absolute;top:0px;}
.flex-direction-nav li{width: 40px; height:40px;}
.flex-direction-nav a {width: 40px; height: 40px;
	display:inline-block;
	line-height:20px;
	cursor:pointer;
	cursor: pointer; 
	-webkit-transition: all .3s ease;
	opacity:0.5;
	background:@white;color:@black;
	}
.flex-direction-nav a:hover { opacity:1; text-decoration:none; }
.flex-direction-nav .flex-next {position:absolute;right:0px;}
	
.flex-direction-nav .flex-prev {position:absolute;right:42px;}
.flex-direction-nav .flex-disabled {cursor: default;}

/* Control Nav */
.flex-control-nav {color:@black;display:inline-block;position:absolute;top:10px;left:10px;}
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {}
.flex-control-paging li a {width: 20px; height: 15px; display: block; background: #666; background: @white;border:1px solid @medium-grey; cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover {opacity:1; }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.blog_content_standard{background:@white;padding:20px;}
.post-sidebar{padding:20px 0px;}

.comment-content blockquote, .comment-content blockquote p{font-size:16px;line-height:20px; text-transform:none;}
.comments-section-title h2{font-size:@menuFontSize + 4;
	display:inline-block;min-width:80%;padding:20px 0px;text-transform:uppercase;}
.comments-section-title{

border-top: 1px solid @light-grey;
border-bottom: 1px solid @light-grey;
display:block;
width:100%;
margin:20px 0px;

}



.module-content-tags{padding:10px 0px;}

/* Video embeds */

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}
.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
 /* To Top Widget */
 
#gantry-totop{width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url(../images/totop/icon_top.png) no-repeat @black;
    z-index:999999;}
	
/* Twitter widget */

.widget_gantry_mimotwitter .module-content{
	padding:0;
}
.tweet_list{
	margin:0px;
	text-align:left;
	padding:0px;
}
.tweet_list li{
	margin:0px;
	padding:5px 0px;
}

.tweet_date{
	border-top:1px dashed @light-grey;
	font-size: @menuFontSize - 4;
	text-transform:uppercase;
	padding:10px 0px;
	display:block;
	font-weight:300;
	color:@white;
}
.tweet_text{
	padding:5px 0px 10px;
	font-size:90%;
	font-weight:300;
}
.thedate{
	display:block;
}
.thedate2{
	display:block;
	font-size: @menuFontSize - 6;
}

	
/* Breadcrumbs*/

#breadcrumbs{margin:20px 20px 0px 20px;padding:5px 10px;float:left;display:block;background:@light-grey;}
.all_inside_breadcrumbs{display:block;}
#breadcrumbs li{display:inline-block;padding:0px 5px;margin:0px 2px 0px 0px;text-transform:uppercase; vertical-align:baseline;float:left;}
#breadcrumbs li a{font-weight:300;font-size: @menuFontSize - 8;line-height: @menuLineHeight - 8;color:@white;}
.breadcrumbs-all{
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
opacity:0.9;
	list-style-type: none;  
	display:none;
	margin:0px;
	z-index:3;
	width:100%;
	
	background:@white;
	display:block;}

.breadcrumbsnohome:before{
	 content: "\f0da";font-family: FontAwesome;float:left;
	font-size:@moduletitleFontSize - 6;
	line-height:@moduletitleLineHeight - 6;
	padding:3px 5px 3px 0px;
	font-weight:normal;
	color:@white;
	}
	.breadcrumbshome:before{
	 content: "\f015";font-family: FontAwesome;float:left;
	font-size:@moduletitleFontSize - 6;
	line-height:@moduletitleLineHeight - 6;
	padding:3px 5px 3px 0px;
	font-weight:normal;
	color:@white;
	
	}
.breadcrumbshome{padding:0px 20px;}
.widget_gantry_breadcrumbs .module-content{padding:0;}
.widget_gantry_breadcrumbs{border-bottom:1px solid rgba(0,0,0,0.1)}	
	
#rt-top .widget {
border-right: 0;
}
/* buttons overrides of bootsrtap */

.btn{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
/*Pages */

/*Shortcodes */
/* ------- Fluid Columns shortcodes ------- */

.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ 
	position:relative; 
	margin-right:4%; 
	float:left; 
	}
.last{ 
	margin-right:0 !important; 
	clear:right; 
	}
.clearboth {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
	}
/* Tabs Style */
.tabnav li.ui-tabs-selected{}
.tabnav li.ui-tabs-selected a{}
#rt-sidebar-a .tabnav-widget li.ui-tabs-selected{}
#tabvanilla .rt-grid-12,#tabvanilla_widget .rt-grid-12 {width:100%;}
.tabnav, .tabnav-widget{display:block;margin:0px 0px 10px;}
.tabnav-widget{}
.tabnav li:first-child, .tabnav-widget li:first-child {
	border-left:0px;
	}
.tabnav li, .tabnav-widget li {
	display: inline-block;
	list-style: none;
	float:left;
	outline: none;
	margin:2px 2px 2px 0px;
	padding:5px 10px;
	
	}



.tabnav li a, .tabnav-widget li a {
	text-decoration: none;
	padding:0px;
	outline: none;
	font-size: @menuFontSize;
	margin:0px 0px 10px;
	font-weight:300;
	text-transform:uppercase;
	}
.tabnav li a, .tabnav-widget li a{color:@white;}
.tabnav li:hover, .tabnav-widget li:hover{background:@black;}
#rt-sidebar-a .tabnav li a,#rt-sidebar-b .tabnav li a,.tabdiv .rt-grid-12, .tabdiv-widget .rt-grid-12{margin:0px;}
.tabnav li a:hover, .tabnav li a:active, .lefttabnav li a:hover, .lefttabnav li a:active, .lefttabnav li.ui-tabs-selected a, .tabnav-widget li a:hover, .tabnav-widget li a:active {
	
	text-decoration: none;
	
	}
.widget_gantry_mimotabs .tabdiv,.widget_gantry_mimotabs .tabdiv-widget {
	
	padding: 20px 0px;
	background:transparent;
	
	} 
 
.tabdiv, .tabdiv-widget {
	
	padding:20px 0px;
	
	
	}
.ui-tabs-hide {
	display: none;
	}

/* Tabs Left Style */
	
#lefttabvanilla {
	position: relative;
	padding-left: 60px;
	}
#lefttabvanilla .lefttabnav {
	position: absolute;
	left: 0;
	top: 0;
	margin:0;
	}
#lefttabvanilla .lefttabnav {
	width: 16%;
	
	display:inline-block;
}
#lefttabvanilla .lefttabnav li.ui-tabs-selected {
	background:@light-grey;
	}
#lefttabvanilla .lefttabnav li a {
	
	padding:20px;
	outline: none;
	
	
	}
#lefttabvanilla .lefttabnav li {
	display:block;
	margin:0px 0px 0px 0px;
	
	padding:10px;
	}
#lefttabvanilla  div {
	min-height:100px;
	margin-top:0px;
	padding:10px 20px;
	width:85%;
	float:right;
	background:@light-grey;
	
	}
/* Gallery Shortcode */

.wp-caption{background:#ffffff;}
.wp-caption-text {color:@black;}
.gallery{border:0px;
margin:10px 0px;height:auto;}
.gallery-caption{position:absolute;bottom:0px;left:0px;color:#ffffff;display:block;padding:5px 10px;}

/* theme Check codes */
.sticky{display:block;}
.bypostauthor{color:@black;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}
.nonavigation{} 


/*****Accordion Styles*****/

ul#accordion, ul#accordion ul {
	list-style-type: none; 
	margin: 0; 
	}
ul#accordion ul li { 
	border: none; 
	border-bottom: 1px solid @light-grey;
	padding: 10px; 
	}
ul#accordion ul li:last-child { 
	border-bottom: none; 
	}
ul#accordion a.heading { 
	
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
	text-decoration: none;
	
	}
ul#accordion a:hover{color:@black;}

ul#accordion li.ui-accordion-selected a.heading, ul#accordion li.current a.heading { 
	color: @black; 
	}
ul#accordion li ul a:hover { 
	border-bottom: none; 
	}
ul#accordion li ul .date { 
	padding-right: 10px; 
	}
ul#accordion li ul .count { 
	padding-left: 10px; 
	}

/*****Additional Custom Accordion Styles*****/

body#customAccordion ul#accordion li ul { 
	display: none; 
	}
body#customAccordion ul#accordion li.current ul { 
	display: block; 
	}
.accordiondiv{
	padding: 10px 20px;
	background:@light-grey;
	}
#accordion .current{padding: 0px;}
#accordion li{border-bottom: 1px solid @light-grey;}

/* NewsTicker */

/* Ticker Styling */
.widget_gantry_mimonewsticker{z-index:5;}
.widget_gantry_mimonewsticker .article-info, .widget_gantry_mimonewsticker .article-info dd{
	border-top:0px;
	padding:0px;
}
.widget_gantry_mimonewsticker .uls{
	height:40px;
	font-size: @menuFontSize - 4;
	}

.widget_gantry_mimonewsticker .module-surround{
	padding:0px
}
.widget_gantry_mimonewsticker .module-content{
	padding:0px;
}
.all-ticker-content{
	padding:0px;
	display:inline-block;
	height:40px;
}
.icon-ticker{height:40px;display:inline-block;float:left;}
.all-ticker{
	margin:0px;
	padding:0px 20px;
	height: 40px;
	overflow: hidden;
	display:block;	
	z-index:2;
}
#ticker {
	margin:0;
	height: 40px;
	padding:0px 0px;
	display:inline-block;
	float:left;
}
#ticker .recent{
	padding:0px 0px;
	overflow:hidden;
}
#ticker li {
	margin:0px;
	padding:0px;
	
}
.article-title-ticker, .readon-div{display:inline-block;}
.mimo_ticker_link{
	padding:10px 5px;
	font-size: @menuFontSize - 4;
	display:inline-block;
	margin:0px;
	text-transform:uppercase;
} 

.icon-ticker i{
	padding:10px 16px 0px;
	
	display:inline-block;
	margin:0px;
	
	height:40px;
	font-size: @menuFontSize + 8;
	} 
.uls{
	margin:0px;
	padding:0px 11px;
	height:40px;
	overflow: hidden;
		
}

.recent_com_ticker{
	padding:10px 0px;
	display:inline-block;
	
}
.ticker_content{
	padding:0px 0px 0px 5px;
	display:inline-block;
	
}
.readon_ticker{
	padding:0px 0px 0px 5px;
	display:inline-block;
	
}




/* Flickr style */
.thumbs { display:inline-block;margin: 0; padding: 0; overflow: hidden; text-align:justify;}
.thumbs li { list-style: none; margin: 1% 1% 1% 0px;  width:32%;display:inline-block;}
.thumbs li a { }
.thumbs li img { display: block; }
.thumbs li a img { border: none;}
/* Mimo News widget */

.cn_wrapper{width:100%;
 -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
 -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
 -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
		  
}
.cn_item, .recent{
	width:100%;
	display:block;
	
	position:relative;
	
}
.cn_item{border-bottom:1px solid @light-grey;padding:0px;}
.cn_item:hover h2,
.cn_list .selected h2,
.cn_item:active h2{
	border-color:#2C5FAC;
}
.cn_item:hover p,
.cn_list .selected p,
.cn_item:active p{
	border-color:#527CBB;
}
.cn_item:active {
	color: #011c44;
	text-shadow: 1px 1px 1px #ccdffc;
}

.recent {
	padding:0px 0px 20px 0px;
}

.cn_list p{
	height:29px;
	padding-top:2px;
	overflow:hidden;
	border-top:1px solid @light-grey;
}
.cn_page, .cn_page_recent{}
.cn_page .cn_item .cn_recent_thumb{display:none;background:transparent;margin:0px 0px 10px 0px;}

.cn_page .cn_item:first-child {width:100%;}
.cn_page .cn_item:first-child .cn_recent_thumb  {
	display:block;
	width:100%;
	}
/* Mimo News Total widget */
.show_readon{padding:0px;display:inline-block;
padding:2px 10px 2px 5px;}
.show_readon a{color:@white;}
.show_readon:before{
	content: "\f067";
	 font-family: FontAwesome;
	color:@white;
	padding:2px 2px;
	font-size: @menuFontSize - 6;
	
		}
.cn_page .selected .recent-title{}
.cn_page .selected .recent-thumb{}

#rt-sidebar-a .nopadding .module-content, #rt-sidebar-b .nopadding .module-content, #rt-sidebar-c .nopadding .module-content{padding:0px;}
.recent_com{padding:5px 20px 0px 20px;display:inline-block;font-size:80%;}
.mimo_recent_content{padding:10px 0px;display:inline-block;font-weight:normal;font-size:90%;}
.mimo_recent_content_nopadding{padding:10px 0px;}	
.cn_total_item{
	width:50%;
	display:inline-block;
	float:left;
	margin:0;
	padding:0px;
	}
.cn_carousel_item{
	width:25%;
	display:inline-block;
	float:left;
	margin:0;
	padding:0px;
	}

.cn_newstotal{width:100%;}
/*Author Bio */

.mimo-author-bio {padding:5px 0px;}
.mimo-author-inside{display:block;padding:0px;}
.mimo-author-avatar, .author-bio{display:inline-block;}
.mimo-author-avatar{float:left; vertical-align:top;display:inline-block;width:8%;}
.author-bio{float:left;display:block;padding:0px 0px 10px 0px;font-weight:300;}
.author-bio-name{display:block;}
.authorbio h2{font-size:@menuFontSize + 6;line-height:@menuFontSize + 6;padding:50px 0px; color:@black;text-transform:uppercase;}
.author-info-item{display:inline-block;float:left;padding:0px 10px 0px 0px;font-size:@menuFontSize + 2;line-height:@menuFontSize + 2;}
.author-info-item a:hover{ text-decoration:none;}
.author-infos{
padding:0px 0px 20px 0px;
display:block;
width:100%;

}
.authorbio{
border-bottom:1px solid @light-grey;

display:block;
width:100%;
margin-bottom:10px;
color:@black;
}
/*
.authorbio:before{
	font-family:fontAwesome;
	content: "\f040";
	float:left;
	font-size:@menuFontSize;
	line-height:@menuLineHeight;
	padding:10px 0px 10px 10px;
	font-weight:normal;
	background:@white;
	color:@black;
	}
	
/*custom together codes */

.recent-title{border-bottom: 1px solid @light-grey;padding:5px 0px;}



.recent-title h2 a{color:@dark-grey;}
.recent-title h2 a:hover{ text-decoration:underline;}
.recent-title h2{font-size:@articletitleFontSize - 4;margin-right:20px;margin:0px;padding:5px 0px;font-weight:300;text-transform:uppercase;line-height:1.5em;}

/* Slider widget */

.recent-title-slider{position:absolute;bottom:100px;left:0px;display:none;background:@white;}
.recent-title-slider h2{display:inline-block;background:@black;margin:0px;}
.recent-title-slider h2 a{font-size:38px;line-height:44px;color:@white;color:@white;padding:0px 0px 0px 20px;margin:0px;}
.recent-title-slider h2 a:hover{ text-decoration:underline;}
.recent-title-slider .article-info{padding:10px 20px;color:@white;margin:0px; vertical-align:top;}

/* HR Widget Styles */


.normal {
height:1px;
margin:4px 0px 2px 0px;

}
.medium {

margin:4px 0px 2px 0px;
height:4px;

}
.big {
margin:4px 0px 2px 0px;
height:6px;

}
.bigger {
margin:4px 0px 2px 0px;
height:8px;
}
.light {
background:@light-grey;
}
.lighti {
color:@light-grey;
}
.mediumcolor {
background:@medium-grey;
}
.mediumcolori {
color:@medium-grey;
}
.dark {
background:@dark-grey;
}
.darki {
color:@dark-grey;
}
.black {
background:@black;
}
.blacki {
color:@black;
}



.item-page .all_image_inside_content{padding:0px;background:@white;z-index:3;position:relative;}
.item-page .all_image_inside_content .all-article-social{padding:2px 20px;}
.item-page .all_image_inside_content .all-article-social a{color:@white;}
.blog_thumb_image{padding: 0px 0px;overflow:hidden;}
/* Article Info */
dd{display: inline-block;}
.widget dd {
			margin: 0;
			display: inline-block;
			padding:0;
				a{
					
				}
			}
		dl{margin:0px;
		}
		dd:before {
			font-family: FontAwesome;
			margin-right: 2px;
			font-size:@menuFontSize - 6;
		}
		.parent-category-name:before {
			content: "\f0c9";
		}
		.category-name:before {
			content: "\f0c9";
		}
		.create:before {
			/*content: "\f040";*/
		}
		.modified:before {
			/*content: "\f044";*/
		}
		.published:before {
			/*content: "\f044";*/
		}
		.createdby:before {
			content: "\f007";
		}
		.hits:before {
			content: "\f019";
		}
		.comments-count:before {
			content: "\f086";
		}
		.tags:before {
			content: "\f02b";
		}
		.rating-count:before {
			content: "\f005";
		}
		.article-info-term {
			display: none;
		}
/* Comments */
.comment-item a{font-weight:300;font-size:16px;}
.comment-item {font-size:22px;}
/* Buttons */

.readon, .readmore {border-color:@black;}
.readon, .readmore {background-color:transparent;color:@black;}
.readon:hover, .readmore:hover {background-color:transparent;color:@black; text-decoration:underline;}
.readon:active, .readmore:active{background-color:transparent;color:@black; text-decoration:underline;}


/* Review system */
.none{display:none;height:0px;}


.review .module-title,.mimo-author-bio .module-title,.related-all .module-title{padding:0px;}
.review-global{
border-bottom:1px dashed @light-grey;
display:block;
width:100%;
padding:10px 0px;
}
/*.review-title:before{
	content: "\f078";font-family: FontAwesome;float:left;
	
	padding:10px 0px 10px 0px;
	font-weight:normal;
	
	color:@black;
	font-size:@menuFontSize + 4;line-height:@menuFontSize + 4;
	}
.review-global:before{
	font-family:fontAwesome;
	content: "\f00c";
	float:left;
	font-size:@menuFontSize;
	line-height:@menuLineHeight;
	padding:10px 0px 10px 10px;
	font-weight:normal;
	background:@white;
	color:@black;
	}
*/

h2.review_global{color:@black;font-size:@menuFontSize + 6;padding:10px 0px;}
.review{padding:0px 0px;}
.totals{padding:0px 0px;margin-top:20px;}
.mimo_review{padding:5px 0px;display:block;
text-transform:uppercase;}
.mimo_total{display:inline-block;width:100%;
border-top:1px dashed @light-grey;}
.totalvalue{padding:0px 0px;}
.thevaluebg{background:@light-grey;height:10px;}
.thevalue{background:@dark-grey;display:block;}
.criteria{
float:left;
display:block;
width:100%;
padding:2px 0px;
font-size: @menuFontSize - 4;
}
.criteria:after{
	content: "\f067";
	font-family: FontAwesome;
	padding:0px 5px;
	font-weight:normal;
	font-size: @menuFontSize - 8;
	
	}
.criteria span{float:right;}
.criteria_total_note{
text-align:center;
float:right;
display:inline-block;
min-width:10%;
padding:0px 18px;
}
.criteria_summary{
display:inline-block;
font-weight:300;
padding:10px 0px;
width:100%;
}
.summary{
margin-top:10px;

padding:10px 0px;

}
.summary-title:before{
	content: "\f058";
	font-family: FontAwesome;
	padding:20px 0px 0px;
	font-weight:normal;
	font-size: @menuFontSize + 18;line-height: @menuLineHeight;
	opacity:0.5;
	display:block;
	
	}
.summary-title h4{padding:10px 10px;opacity:0.7;}
.summary-title{border-bottom:1px solid @white ;display:block;width:100%;}
.global-total-review{padding:0;}
.criteria_total{
text-align:left;
display:block;
padding:0px;
margin:5px 0px;
}
.criteria_total h2{
	padding:10px 0px;font-size:@menuFontSize + 6;
	display:inline-block;
	z-index:99998;
	float:left;
	font-weight:300;
	}
.criteria_total  span{float:right;display:inline-block;font-size:@menuFontSize + 6;
	line-height:@menuLineHeight + 2;padding:5px 0px;}
.criteria h4{line-height:22px;display:block;margin:0px;font-weight:normal;font-size:18px;padding:10px 0px;}
.starintitle .star{padding:0px 0px 0px 10px;}
.widget_gantry_mimonewsticker .star{padding:8px 0px 8px 0px;}
.star{float:right;display:inline-block;padding:0px 2px;}
.therating{width:30px;height:30px;float:right;background:url(../images/rating/mimostar.png) no-repeat  center center;text-align:center;padding:5px 10px 5px 5px;}
.widget_gantry_mimocarousel .therating, .widget_gantry_newswall .therating{position:absolute;right:0px;top:0px;}
.widget_gantry_mimonewsticker .therating{float:left;}
.therating a{font-size:10px;line-height:34px;}
/* Social shares */
.social-buttons{padding:0px 0px 20px 0px;margin-top:2px;display:block;width:56px;position:absolute;top:0px; left :0px;background:@white;padding:30px 10px 10px 20px;text-align:center;border-right:1px solid @light-grey;display:none;}
.social-button-googleplus{display:block;width:56px;overflow:hidden;margin:0px 2px 2px 0px;}
.social-button-facebook{display:block;width:48px;margin:0px 2px 2px 0px;text-align:center;padding:0px 3px;}
.social-button-twitter{display:block;width:56px;margin:0px 2px 2px 0px;}
.social-button-pinterest{display:block;width:56px;margin:0px 2px 2px 0px;}
.uiGrid{margin:1px 4px 0px 4px;}
/* Horizontal menu */

.widget_gantry_categories .horizontal li{display:inline-block;border:0;padding:4px 10px;font-weight:normal;}
.widget_gantry_categories .horizontal {padding:10px 0px;}
.widget_gantry_categories .horizontal li:first-child{padding:4px 10px 4px 40px;font-weight:normal;}

.widget_gantry_categories .horizontal li a {color:@black;font-size:12px;line-height:14px;font-weight:normal;}
.widget_gantry_categories .horizontal li a:hover{ text-decoration:underline;}
/* Core */



/* Animation effects */
.container_newswall_class li  img, .hover-images .icon{
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	
	}
.container_newswall_class li .type-post{
 -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.title-main{
	
 -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	font-weight:normal;
    position: relative;
    float:left;
}
.hover-images{
	
 -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
	position:absolute;
	top:0px;left:0px;
	width:100%;
	height:100%;
	z-index:2;
	background:@white;
	opacity:0;
}
.container_newswall_class li:hover .hover-images{
	
    
	
    zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.container_newswall_class li:hover .title-main{
	
    
	
    -webkit-animation: moveFromLeft 300ms ease;
    -moz-animation: moveFromLeft 300ms ease;
    -ms-animation: moveFromLeft 300ms ease;
}
.container_newswall_class li:hover .hover-images .icon{
	
    
	
    -webkit-animation: moveFromTop 300ms ease;
    -moz-animation: moveFromTop 300ms ease;
    -ms-animation: moveFromTop 300ms ease;
}
.container_newswall_class li:hover .flexslider{
	
    color: @white;
	
    
}
.container_newswall_class li:hover .type-post{}
.container_newswall_class li:hover  img{
	-webkit-transform: scale(1.3);  
    -moz-transform: scale(1.3);  
    -ms-transform: scale(1.3);   
    -o-transform: scale(1.3);   
    transform: scale(1.3);opacity:0.5; 
	}
@-webkit-keyframes moveFromLeft{
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromLeft{
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromLeft{
    from {
        -ms-transform: translateX(-100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1.5);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1.5);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1.5);
    }
	

}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 




	}
