// Essentials -----------------
@white:						#ffffff;
@black: 					#000000;
@light-grey:				#dbdbdb;
@medium-grey:				#aaaaaa;
@dark-grey:				#4d4d4d;

@baseFontSize:			20px;
@baseLineHeight:		20px;

// Body ------------------------
@bodybackground:		#f5f5f5;
@bodybackground2:		#f0f0f0;
@bodybackground3:		#fcfcfc;
@bodybackground4:		#eaeaea;
@bodytext:				#6e6e6e;
@bodytextlight:			#aaaaaa;
@bodytitle:				#ffffff;
@bodyborder:			rgba(0,0,0,0.1);
@bodyborder2:			#dddddd;
@bodyborder3:			#d1d1d1;
@bodycontrast:			#ffffff;

// Main Top --------------------
@maintopbackground:		#f0f0f0;

// Footer ----------------------
@footerbackground:		#eeeeee;
@footertext:			#6e6e6e;

// Form Feedbacks --------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);

@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

// Base Menu variables
@menuFontFamily:	Helvetica, sans-serif;
@menuFontSize:		16px;
@menuLineHeight:	20px;
@menuItemRadius:	4px;
@menuHoverColor: #ffffff;

// Other FOnt Sizes
@moduletitleFontSize: 18px;
@articletitleFontSize: 18px;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       160px;

// Article Info

@articleinfofs: 10px;


