/**
* @version   $Id: joomla-core.less 7305 2013-02-06 19:41:39Z james $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

// Core
strong{font-weight:700;}
.component-body {
	padding: 20px;
}
.all-article-info-ticker{
	display:inline-block;
	font-size:@articleinfofs;
}
// Columns Layout
.component-content {
	.row-separator {
		display: block;
		clear: both;
		margin: 0;
		border: 0;
		height: 1px;
	}
	.item-separator {
		display: none;
		margin: 0;
	}
	.shownocolumns {
		width: 98%;
	}
	.column-1, .column-2, .column-3, .column-4, .page-header {
		padding: 10px 0;
	}
	.column-2 {
		width: 55%;
		margin-left: 40%;
	}
	.column-3 {
		width: 30%;
	}
	.cols-1 {
		display: block;
		float: none !important;
		margin: 0 !important;
	}
	.cols-2 {
		.column-1 {
			width: 48%;
			float: left;
		}
		.column-2 {
			width: 48%;
			float: right;
			margin: 0;
		}
	}
	.cols-3 { text-align:justify;
		.column-1 {
			display:inline-block;
			width: 32%;
			
		}
		.column-2 {
			
			display:inline-block;
			width: 32%;
		}
		.column-3 {
			
			display:inline-block;
			width: 32%;
		}
	}
	.cols-4 {
		.column-1 {
			float: left;
			width: 23%;
			margin-right: 2%;
		}
		.column-2 {
			float: left;
			width: 23%;
			margin-left: 0;
			margin-right: 2%;
		}
		.column-3 {
			float: left;
			width: 23%;
			margin-right: 2%;
		}
		.column-4 {
			float: right;
			width: 23%;
			margin-right: 2%;
		}
	}
	.items-row {
		margin-bottom: 10px;
		padding:20x;
		
	}
	.blog-more {
		padding: 10px 5px;
	}
}

// Settings
.component-content {padding:0px;
	.page-header {
		border-bottom: 0;
	}
}

// Categories List
.categories-list {
	padding: 0 5px;
	ul {
		margin: 0 0 0 20px;
		padding: 0;
		li {
			list-style-type: none;
			margin: 0;
		}
		ul {
			margin-left: 15px;
		}
	}
	dl {
		dt, dd {
			display: inline;
		}
	}
}
.category-desc {
	line-height: 1.7em;
	margin: 10px 0;
	padding-left: 0;
}

.cat-children {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// Author Page
.author-info {
	position: relative;
	margin: 20px 0;
	.author-avatar {
		position: absolute;
		left: 0;
		top: 0;
	}
	.author-description {
		position: relative;
		padding-left: 75px;
	}
}

// Article Details

.item-page-page{padding:20px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
background:@white;}
.item-page{padding:0px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
background:@white;}
.item-page-page .article-title, .type-page .article-title{
	background:@white;
}
.component-content {
	ul.actions {
		float: right;
		li {
			list-style: none;
			display: inline-block;
			a {
				display: block;
				font-size: @baseFontSize;
				margin-left: 8px;
			}
			i {
				display: none;
			}
		}
		.print-icon {
			img, [class^="icon-"], [class*=" icon-"] {
				display: none;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f02f";
			}
		}
		.email-icon {
			img, [class^="icon-"], [class*=" icon-"] {
				display: none;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f0e0";
			}
		}
		.edit-icon {
			img, [class^="icon-"], [class*=" icon-"] {
				display: none;
			}
			a:before {
				font-family: FontAwesome;
				content: "\f044";
			}
		} 
	}
					
					.archive-page-heading{
						background:@white;
						padding:10px 20px;
						text-transform:uppercase;
						font-size:@articletitleFontSize - 8;
						font-weight: 300;
						margin-bottom:10px;
					}
					.article-title-heading{
					padding:10px 0px;
					text-transform:uppercase;
					border-bottom: 1px dashed rgba(211, 211, 211, .5);
					font-size:@articletitleFontSize - 8;
					margin-bottom:10px;
					}
					.article-title,.recent-title{
					padding:0px 0px 0px;
					word-wrap: break-word;
					z-index:9999999;
					text-align:left;
					}
					.article-title-single{
					padding:0px;
					display:block;
					word-wrap: break-word;
					margin:6px 3px 0px;
					border-bottom: 1px dashed rgba(211, 211, 211, .5);
					}
					.article-title h2{
					
					margin-top:0px;
					font-weight:300;
					word-wrap: break-word;
					padding:20px ;
					line-height:1.2em;
					text-transform: uppercase;
					display:block; 
					}
					.format i{
					display:inline-block;
					float:left;
					padding:3px 3px 3px 0px;
					}
					.format{
					margin:0px;
					display:inline-block;
					padding:0px;
					}
					.format .ispan{
					margin:0px;
					display:inline-block;
					float:left;
					}
					.article-title-single h1{
					line-height:1.3em;
					font-size:@articletitleFontSize + 16;
					font-weight:300;
					padding:20px 0px 10px;
					display:block;
					word-wrap: break-word;
					-webkit-margin-before: 0em;
					-webkit-margin-after: 0em;
					-webkit-margin-start: 0px;
					-webkit-margin-end: 0px;
					width:100%;
					text-transform:uppercase;
					}
					.inside-mimo-content{
					padding:10px 0px;
					}
					.mimo-content{
					padding:20px;
					text-align:left;
					word-wrap: break-word;
					font-weight:300;
					z-index:999999;
					font-size:@menuFontSize - 2;
					}
					.mimo-content .frase{
					padding:40px 0px;
					}
					.mimo-content-single{
					padding:20px 0px;
					text-align:left;
					word-wrap: break-word;
					font-weight:normal;
					word-wrap: break-word;
					font-weight:300;}
	
		
		
					.items-row .article-title h2{
					font-size:@articletitleFontSize;
					margin-right:20px;
					}
					
					.all-article-info, .all-article-info-ticker{
						padding:0px;
						font-size: @menuFontSize - 6;
						font-weight:300px;
						text-transform:uppercase;
					 }
					 
					 .article-info{
					 	padding:10px 20px;
					 	font-weight:300;
					 	border-top: 1px dashed rgba(211, 211, 211, .5);
					 	-webkit-background-clip: padding-box; /* for Safari */
					 	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
					 		i{
					 		display: inline-block;
					 		}
					 
					 		ul{
						 	display: inline-block;
						 	}
						 	li{
					 		vertical-align:top;
					 		display: inline-block;
					 		padding:3px 3px 3px 0px;
					 		}
					 	}
					 .article-title h2 a, .recent-title h2 a{}
					 .article-title-single h1 ,.article-title-single h2 a{}
					 .article-title h2 a:hover, .recent-title h2 a:hover{ 
					 text-decoration:underline;
					 }
					 .article-social-single {
						 color:@medium-grey;
						 padding:0px 0px;
						 display: inline-block;
						 font-size: @articleinfofs;
						 text-transform:uppercase;
						 }
					.article-info-single {
						font-size: @articleinfofs;
						vertical-align: top;
						padding:10px 0px;
						width:100%;
					 	font-weight:300;
					 	border-top: 1px dashed rgba(211, 211, 211, .5);
					 	-webkit-background-clip: padding-box; /* for Safari */
					 	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
					 	text-transform:uppercase;
					 	margin:0px 0px 60px;
							a{
								
							}
							li{
								margin-right: 4px;
								vertical-align:top;
								float:left;
							}
							li:before, li i {
								font-family: FontAwesome;
								margin-right: 4px;
								font-size: @articletitlefs;
								}
							li a:hover{
								text-decoration:none;
								color:black;
							}
							.parent-category-name:before {
								content: "\f0c9";
							}
							.category-name:before {
								content: "\f0c9";
							}
							.create:before {
								/*content: "\f017";*/
								}
							.modified:before {
				
							}
							.published:before {
				
							}
							.createdby:before {
								content: "\f007";
							}
							.hits:before {
								content: "\f019";
							}
							.comments-count:before {
								content: "\f086";
							}
							.article-info-term {
								display: none;
							}
							.edit-link:before {
								content: "\f040";
							}
							.tagcloud:before {
								content: "\f02b";
							}
							
							}
							.article-info-tags {
								text-align:left;
								padding:10px 20px 10px;
								display: block;
								word-wrap: break-word;
									.tags{
										margin:0;
										}
									a{
										opacity:0.5;
										padding: 0px 10px;
										border: 0;
										display: inline-block;
										margin: 3px 3px 3px 0px;
										font-weight: 300;
										background:@medium-grey;
										}
									a:hover{
										opacity:1; 
										text-decoration:none;
										}
							}
						}
			
					.hover-images .icon{
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						width:75px;
						height:75px;
						margin:auto;
						}
					.hover-images .icon i{
						font-size:@menuFontSize + 4;
						line-height:@menuLineHeight + 4;
						font-weight:300;
						padding:25px;
					}
					.all-article-social{
						display:none;
						position:absolute;
						bottom:0px;
						left:0px;
						right: 0;
						padding:3px 0px;
						background:@black;
						text-align:left;
						z-index:6;
					}
					.facebookshare a, .twittershare a, .googleshare a{
						padding: 0px;
						float:left;
						text-align: left;
					}
					.facebookshare, .twittershare, .googleshare{
						padding: 0px;
						float:left;
						text-align: left;
						margin-left:0px;
					}
					.facebookshare a i, .twittershare a i, .googleshare a i{
						padding: 13px;
						float:left;
						text-align: left;
						width:10px;
					}
					.facebookshare a:hover { 
						background:#2e6dba; 
						text-decoration: none;
					}
					.twittershare a:hover{ 
						background:#04cbf6;
						text-decoration: none;
					}
					.googleshare a:hover{ 
						background:#d34836;
						text-decoration: none;
						}
					.article-social{
						padding:0px 20px;
						font-size: @menuFontSize - 6;
						z-index:3;
						text-align:left;
							dd a{
								color:@white;
								}
							.content_vote {
								margin: 10px 0;
							}
					}
					.all-article-info-single{
						display:block;
						padding:0;
						}
					
					.article-info{
						margin-bottom:0px;
						font-size: @articleinfofs;
							li {
								display:block;
								vertical-align:top;
								margin: 0;
								display: inline-block;
								
									a{font-size: @articleinfofs;}
								}
							ul{
								margin:0px;
								
								
								}
							li:before {
								font-family: FontAwesome;
								margin-right: 2px;
								}
							.parent-category-name:before {
								content: "\f0c9";
								}
							.category-name:before {
								content: "\f0c9";
								}
							.create:before {
								/*content: "\f017";*/
							}
							.modified:before {
								
							}
							.published:before {
								
							}
							.createdby:before {
								content: "\f007";
							}
							.hits:before {
								content: "\f019";
							}
							.comments-count:before {
								content: "\f086";
							}
							.article-info-term {
								display: none;
							}
							.edit-link:before {
								content: "\f040";
							}
						}
	
	
// Article
.component-content {
	.blog-featured {
		h2 {
			margin-top: 0;
		}
	}
	.blog {
		h2 {
			margin-top: 0;
		}
	}
	.item-page {
		h2 {
			margin-top: 0;
		}
		.post-tags .module-content a {
			margin-right: 5px;
			&:before {
				font-family: FontAwesome;
				margin-right: 5px;
				content: "\f02b";
			}
		}
	}
	.pagenav {
		padding: 2px;
		clear: both;
		margin-top: 20px;
		margin-left: 0;
		overflow: hidden;
		li {
			list-style: none;
			.border-radius(4px);
			a {
				padding: 4px 10px;
				font-size: @baseFontSize;
				.border-radius(4px);
			}
		}
		.pagenav-prev {
			float: left;
		}
		.pagenav-next {
			float: right;
		}
	}
	.pager {
		li {
			display: inline-block;
			background: none;
			border: 0;
			box-shadow: none;
			&.previous {
				float: left;
			}
			&.next {
				float: right;
			}
		}
	}	
	.items-leading {
		margin-bottom: 25px;
		padding:20px;
		
	}
	.img-intro-right, .img-fulltext-right {
		float: right;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.img-intro-left, .img-fulltext-left {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

// Comments
#comments{margin-bottom:20px;}
.comments-section-title {margin-bottom:20px;}
#reply-title{text-transform:uppercase;font-size:@menuFontSize + 4;border-bottom: 1px solid @light-grey;padding:20px 0px;}
#comments-section {

	margin:0;
	padding: 0px;
	.edit-link{display:inline-block;max-width:20%;}
	.author{font-size:14px;}
	.comments-list > ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
		ol, ul {
			list-style: none;
		}
		
		.comment-body {
			border-bottom:1px solid @light-grey;
			margin:0;
			padding-left: 60px;
			padding:10px 10px 10px 60px;
			position: relative;
			.author-avatar {
				padding:10px;
				position: absolute;
				left: 0;
				top: 0;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.comment-content {
				display:inline-block;
				width:80%;
				blockquote {margin:0;
					p{padding:10px 0px;
					text-transform:none;
			font-style:normal;}
				}
				small{font-size:12px;text-transform:uppercase;}
			}
			.reply {
				text-align: right;
			}
		}
		.comment-author-admin .comment-content blockquote {
			background: @bodybackground2;
			font-size:16px;
			line-height:20px; 
			text-transform:none;
			font-style:normal;
		}
	}
	#comments + #respond {
		.comment-notes {
			margin-top: 0;
		}
	}
	#respond {
		margin: 5px 0 0;
		.cancel-comment-reply {
			float: right;
			position: relative;
			top: -9px;
		}
		.comment-notes {
			margin-top: 10px;
		}
		
	}
}

body.rtl #comments-section {
	.comments-list > ol {
		ol {
			padding-right: 15px;
			padding-left: 0;
			margin-left: 0;
			margin-right: 25px;
		}		
		.comment-body {
			padding-left: 0px;
			padding-right: 60px;
			.author-avatar {
				right: 0;
			}
			.comment-content {
				blockquote {
					font-style:normal;
					padding-left: 10px;
					border-left: none;
					border-right: 5px solid @bodyborder;
				}
			}
			.reply {
				text-align: left;
			}
		}
	}
	#respond {
		.cancel-comment-reply {
			float: left;
		}
	}
}

// Contact Page
#rt-contact-form {
	.control-group {
		.send-copy {
			margin: 15px 0;
		}
	}
}

// Article Index 
.component-content {
	#article-index {
		float: right;
		border: 1px solid @bodyborder2;
		background: @bodybackground2;
		border-radius: 5px;
		margin-left: 15px;
		ul {
			list-style: none;
			margin: 0;
			li {
				&:first-child a {
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
				}				
				a {
					display: block;
					line-height: 20px;
					padding: 8px 12px;
					border-bottom: 1px solid @bodyborder2;		
					&.active {
						color: inherit;
					}			
					&:hover {
						background: @bodybackground4;
					}					
				}
				&:last-child a {
					border-bottom: none !important;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
				}				
			}
		}
	}
	.article-index {
		margin-left: 15px;
		.nav-tabs.nav-stacked > li > a {
			border: 1px solid @bodyborder2;
			background: @bodybackground2;
			&:hover {
				background: @bodybackground4;
			}
		}		
	}
}

// Editing
.component-content {
	.edit {
		#editor-xtd-buttons {
			a {
				&:link, &:hover, &:visited {
					color: #323232;
				}
			}
		}
		legend {
			font-size: 150%;
		}
		#adminForm {
			fieldset {
				padding: 20px 15px;
				margin: 10px 0 15px 0;
			}
			.formelm-area {
				padding: 5px 0;
				label {
					vertical-align: top;
					display: inline-block;
					width: 7em;
				}
			}
		}
	}
	.formelm {
		margin: 5px 0;
		label {
			width: 9em;
			display: inline-block;
			vertical-align: top;
		}
	}
	.formelm-buttons {
		text-align: right;
		margin-bottom: 10px;
	}
	.button2-left {
		float: left;
		margin-right: 5px;
		margin-top: 10px;
		.readmore {
			background-image: none;
			background-color: transparent;
			border: none;
			padding: 0;
			text-shadow: none;
			font-size: inherit;
			text-transform: inherit;
		}
	}
}

// Calendar
.calendar {
	td.button {
		background-image: none;
		background-color: transparent;
		border: none;
		padding: 0;
		text-shadow: none;
		font-size: inherit;
		text-transform: inherit;
		color: @black;
		display: table-cell;
	}
	td.button:after {
		position: relative;
	}
	td.title {
		font-size: 1.4em;
	}
}

// Items More
.component-content {
	.items-more {
		padding-top: 10px;
		h3 {
			font-weight: normal;
			margin: 0;
			padding: 0;
			font-size: 1.4em;
		}
		ol {
			line-height: 1.3em;
			list-style-type: none;
			margin: 0;
			padding: 10px 0 10px 2px;
			li {
				margin-bottom: 5px;
				a {
					display: inline;
					font-weight: normal;
					padding: 0;
				}
				a:before {
					font-family: FontAwesome;
					content: "\f054";
					margin-right: 4px;
				}
			}
		}
	}
}

// Pagination
.component-content {
	.pagination {
		margin: 10px 0;
		padding: 10px 10px;
		clear: both;
		text-align: right;
		.counter {
			display:inline-block;
			text-align: left;
			float:left;
			padding:10px 20px;
			margin: 0;
			font-weight: bold;
			margin-bottom: 5px;
			+ ul li {
				span, a {
					padding: 6px 0;
				}
			}
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			.box-shadow(none);
			li:last-child{border-right:0;}
			li {border-right:1px solid @dark-grey;
				display: inline-block;
				text-align: center;
				a, span {
					margin: 0 5px;
					padding: 10px;
					font-size: 22px;
					line-height: 26px;
					
					background: none;
					border: none;
					text-shadow: none;
				}
			}
		}
	}
	.pagination-start, .pagination-next, .pagination-end, .pagination-prev {
		border: 0;
	}
	.pagination-start {
		padding: 0;
		span {
			padding: 0;
		}
	}
}

// Comments Pagination
.component-content {
	.comments-pagination {
		margin: 10px 0;
		padding: 10px 0;
		clear: both;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			.box-shadow(none);
			li {
				display: inline-block;
				text-align: center;
			}
		}
	}
}

// Member Access
.component-content {
	#password-lbl, #username-lbl {
		width: 130px;
		display: block;
		float: left;
		font-size: 1.2em;
		line-height: 2em;
	}
	.login {
		.control-label {
			padding-top: 0;
		}
	}
	.login-fields {
		margin-bottom: 5px;
		#remember-lbl {
			display: inline-block;
			margin-right: 5px;
		}
		#remember {
			margin: 0;
		}
	}
}
.component-content .login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox {
	padding: 4px;
	.border-radius(3px);
	line-height: 1.6em;
}
.component-content .login + div {
	margin-top: 12px;
}
.component-content .login + div ul li, #login-form li {
	list-style: none;
}
.component-content .login + div ul li a:before, #login-form a:before {
	font-family: FontAwesome;
	content: "\f059";
	margin-right: 4px;
}

.component-content .login + div ul {
	padding: 0;
	margin-left: 0;
}
.component-content .login-description {
	margin: 10px 0;
}

// Login Module
#login-form {
	.userdata {
		margin: 12px 0;
	}
	ul {
		padding: 0;
		margin-left: 0;
		li {
			a {
				font-size: @baseFontSize;
			}
		}
	}
	input[type="text"], input[type="password"] {width: 94%;}
	#form-login-remember {
		label {
			display: inline-block;
		}
		input {
			margin: 0;
		}
	}
}

// Breadcrumbs Module
#rt-breadcrumbs {
	.breadcrumb {
		padding: 0;
		margin: 0;
		a {
			&:after {
				margin: 0 10px;
			}
		}
	}
	img[src $="arrow.png"] {
		display: none;
	}
	a {
		font-size: @baseFontSize;
		&:after {
			font-family: FontAwesome;
			content: "\f054";
			margin: 0 5px 0 10px;
		}
	}
	.showHere {
		font-weight: bold;
		margin-right: 5px;
	}
	.rt-block {
		padding: 10px 15px;
	}
	.divider {
		display: none;
	}
	li:first-child {
		.divider {
			display: inline;
		}
	}
}

// Tables
.component-content {
	table {
		border-collapse: collapse;
	}
	table.table-bordered {
		border-collapse: separate;
		*border-collapse: collapse;
	}
	table.weblinks {
		font-size: @baseFontSize;
		margin: 10px 10px 20px 0;
		width: 99%;
		td {
			border-collapse: collapse;
			padding: 7px;
			p {
				margin: 0;
				line-height: 1.3em;
			}
		}
		th {
			padding: 7px;
			text-align: left;
		}

	}
	table.category {
		font-size: @baseFontSize;
		margin: 10px 10px 20px 0;
		width: 99%;
		td {
			padding: 7px;
		}
		th {
			padding: 7px;
			text-align: left;
			a {
				img {
					padding: 2px 10px;
				}
			}
		}
	}
	.weblink-category {
		td.title {
			font-size: @baseFontSize;
		}
	}
	.num {
		vertical-align: top;
		text-align: left;
	}
	.hits {
		vertical-align: top;
	}
	.filter {
		margin: 10px 0;
		text-align: right;
		margin-right: 7px;
	}
	.archive {
		.filter-search {
			float: none;
		}
		.filters {
			margin-bottom: 25px;
		}
		#archive-items {
			list-style: none;
			margin: 0 0 10px 0;
		}
	}
	.element-invisible {
		position: absolute;
		margin-left: -3000px;
		margin-top: -3000px;
		height: 0;
	}
	.cat-items {
		margin-top: 20px;
		.filter-search {
			margin-bottom: 10px;
		}
		select {
			margin-bottom: 0;
		}
	}
}

// Forms
.component-content #member-registration {
	padding: 0 5px;
}
.component-content form fieldset dt {
	clear: left;
	float: left;
	width: 12em;
	padding: 3px 0;
}
.component-content form fieldset dd {
	float: left;
	padding: 3px 0;
}
.invalid, .login-fields #username.invalid, .login-fields #password.invalid, #contact-form dd input.invalid, #contact-form dd textarea.invalid, #modlgn-username.invalid, #modlgn-passwd.invalid, #jform_email.invalid, #member-registration dd input.invalid, #search-searchword.invalid, .finder .inputbox.invalid, .inputbox.invalid {
	border-color: #ff0000;
}
label.invalid {
	color: #ff0000 !important;
}
input[type="radio"], input[type="checkbox"] {
	margin-right: 5px;
}

// Search
.component-content {
	.searchintro {
		font-weight: normal;
		margin: 20px 0 20px;
	}
	#searchForm {
		.inputbox {
			margin-bottom: 0;
		}
		input[type="radio"], input[type="checkbox"] {
			float: left;
		}
	}
	#searchForm, #finder-search {
		padding: 0 5px;
	}
	.form-limit {
		margin: 20px 0 0;
		text-align: right;
		padding: 0 10px 0 20px;
	}
	.highlight {
		font-weight: bold;
	}
	.ordering-box {
		width: 40%;
		float: right;
	}
	.phrases-box {
		width: 60%;
		float: left;
	}
	.only, .phrases {
		margin: 10px 0 0 0;
		line-height: 1.3em;
	}
	label.ordering {
		display: block;
		margin: 10px 0 10px 0;
	}
	.word {
		padding: 10px 10px 10px 0;
	}
	.word input {
		font-weight: bold;
		padding: 4px;
		font-size: @baseFontSize;
	}
	.word label {
		font-weight: bold;
	}
	fieldset.only label, fieldset.phrases label {
		margin: 0 10px 0 0;
	}
	.ordering-box label.ordering {
		margin: 0 10px 5px 0;
	}
	form .search label, form .finder label {
		display: none;
	}
	form #finder-filter-select-list label {
		display: block;
		margin-top: 10px;
		margin-bottom: 2px;
	}
	.search legend {
		font-weight: bold;
	}
	.search-results .result-title {
		padding: 15px 15px 0 5px;
		font-weight: bold;
	}
	.search-results dd {
		padding: 2px 15px 2px 5px;
	}
	.search-results .result-text {
		padding: 10px 15px 10px 5px;
		line-height: 1.7em;
	}
	.search-results .result-url {
		font-size: @baseFontSize;
		padding: 2px 15px 15px 5px;
	}
	.search-results .result-created {
		padding: 2px 15px 15px 5px;
	}
	.search-results .result-category {
		padding: 10px 15px 5px 5px;
	}
}
.search-results span.highlight {
	background: #FBDE21;
}

// Contacts
.component-content {
	.contact {
		padding: 0;
		.button {
			float: none !important;
			clear: left;
			display: block;
			margin: 20px 0 0 0;
		}
		.title {
			
			margin: 0 0 2px 0;
			border: 0;
			box-shadow: none;
			padding: 0;
			.border-radius(3px);
			a {
				display: block;
				padding: 10px;
				span {
					
					&:before {
						font-family: FontAwesome;
						content: "\f055";
						margin: 0 10px 0 0;
						font-size: 1.3em;
						display: inline;
						vertical-align: middle;
					}
				}
			}
		}
		.pane-toggler-down a span:before {content: "\f056";}
	}
	.contact-category {
		padding: 0 10px;
		#adminForm .filters {
			border: 0;
			padding: 0;
		}
	}
	.contact-image {
		margin: 10px 0;
		overflow: hidden;
		display: block;
		img {
			max-width: 100%;
		}
	}
	address {
		font-style: normal;
		margin: 10px 0;
		span {
			display: block;
		}
	}
	.contact-address {
		margin: 20px 0 10px 0;
	}
	.contact-email {
		div {
			padding: 2px 0;
			margin: 0 0 10px 0;
		}
		label {
			width: 17em;
			float: left;
		}
	}
	#contact-textmsg {
		padding: 2px 0 10px 0;
	}
	#contact-email-copy {
		float: left;
		margin-right: 10px;
	}
	dl.tabs {
		float: left;
		margin: 50px 0 0 0;
		z-index: 50;
		clear: both;
		dt {
			float: left;
			padding: 4px 10px;
			border-left: 1px solid #ccc;
			border-right: 1px solid @light-grey;
			border-top: 1px solid @light-grey;
			margin-right: 3px;
			background: #f0f0f0;
			color: #666666;
		}
		.open {
			background: #F9F9F9;
			border-bottom: 1px solid #F9F9F9;
			z-index: 100;
			color: @black;
		}
	}
	.current {
		clear: both;
		border: 1px solid @light-grey;
		padding: 10px 10px;
		dd {
			padding: 0;
			margin: 0;
		}
	}
	#content-pane.tabs {
		margin: 1px 0 0 0;
	}
}

// Pagebreak
.component-content {
	table.contenttoc {
		padding: 10px;
		margin: 10px;
	}
	table.contenttoc tr td {
		padding: 1px 0;
	}
	.pagenavcounter {
		font-weight: bold;
	}
}

// Tooltip
.component-content {
	.tip {
		font-size: 0.8em;
		text-align: left;
		padding: 3px;
		max-width: 400px;
	}
	.tip-title {
		font-weight: bold;
	}
}
.tip-wrap {
	padding: 8px;
	.border-radius(4px);
}

// Icon Overrides
.icon-file-add:before, .icon-cancel:before, .icon-eye:before, .icon-location:before {
	font-family: 'IcoMoon' !important;
}

// WordPress Core
.aligncenter, div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

a {
	img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}
	img.alignnone {
		margin: 5px 20px 20px 0;
	}
	img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}
	img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-caption {
	background: @white;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 5px 4px;
	}
	&.alignnone {
		margin: 5px 20px 20px 0;
	}
	&.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}
}

// Gantry Recent Comments Widget

.widget_gantry_recentcomments {
	.comment-item {
		position: relative;
		.avatar {
			position: absolute;
		}
		blockquote {
			margin-left: 45px;
		}
	}
}

body.rtl .widget_gantry_recentcomments {
	.comment-item {
		blockquote {
			margin-right: 45px;
			margin-left: 0;
			border-right: 5px solid @bodyborder;
			border-left: none;
			padding: 0 15px 0 0;
		}
	}
}