/**
 * @version   1.23 January 15, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
.mimo-horizontalbar .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-horizontalbar .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-horizontalbar .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
/*//////////////*/
.mimo-bloginfo .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-bloginfo .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-bloginfo .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
/*//////////////*/
.mimo-carousel .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-carousel .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-carousel .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
	/*//////////////*/
.mimo-vimeo .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-vimeo .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-vimeo .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #adc42f !Important; 
    border: 1px solid #adc42f!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #adc42f;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
		/*//////////////*/
.mimo-youtube .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-youtube .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-youtube .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #b31e1e !Important; 
    border: 1px solid #b31e1e!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #b31e1e;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
	/*//////////////*/
.mimo-newstotal .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-newstotal .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-newstotal .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
     word-wrap: break-word!Important;
    z-index: 3;!Important}
/*//////////////*/
	/*//////////////*/
.mimo-news .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-news .widget-top a.widget-action, .mimo-newsslider .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-news .widget-top, .mimo-newsslider .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
     word-wrap: break-word!Important;
    z-index: 3;!Important}
/*//////////////*/

.mimo-social .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-social .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-social .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}


/*****/
.mimo-info .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-info .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-info .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}


/*****/
.mimo-social .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-social .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-social .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}


/*****/
.mimo-newsticker .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-newsticker .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-newsticker .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}


.mimo-share .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-share .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-share .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
/********/

.mimo-newswall .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-newswall .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-newswall .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
.mimo-newswall .widget-top h4, .mimo-newswall .widget-top .widget-title-action, .mimo-newswall .widget-inside {}
.mimo-newswall .widget-title {}

/**
 * @version   1.23 January 15, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
.mimo-responsivemenu .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-responsivemenu .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-responsivemenu .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #4B8A08 !Important; 
    border: 1px solid #4B8A08!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #4B8A08;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}

.mimo-twitter .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-twitter .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-twitter .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
.mimo-twitter .widget-top h4, .mimo-twitter .widget-top .widget-title-action, .mimo-twitter .widget-inside {}
.mimo-twitter .widget-title {}



.mimo-contact .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-contact .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-contact .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}



.mimo-recentposts .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-recentposts .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-recentposts .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #1ba2da !Important; 
    border: 1px solid #1ba2da!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #1ba2da;
	 line-height: 35px;
    
    
    
    word-wrap: break-word!Important;
    z-index: 3;!Important}
.mimo-recentposts .widget-top h4, .mimo-recentposts .widget-top .widget-title-action, .mimo-recentposts .widget-inside {}
.mimo-recentposts .widget-title {}



.mimo-logo .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-logo .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-logo .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #4B8A08 !Important; 
    border: 1px solid #4B8A08!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #4B8A08;
	 line-height: 35px;
    word-wrap: break-word!Important;
    z-index: 3;!Important}

.mimo-accordion .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-accordion .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-accordion .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #4B8A08 !Important; 
    border: 1px solid #4B8A08!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #4B8A08;
	 line-height: 35px;
    word-wrap: break-word!Important;
    z-index: 3;!Important}
	
	.mimo-facebook .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-facebook .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-facebook .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #3B5998 !Important; 
    border: 1px solid #3B5998!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #3B5998;
	 line-height: 35px;
    word-wrap: break-word!Important;
    z-index: 3;!Important}

.mimo-googleplus .in-widget-title{color:#ffffff;
padding-left:2px;}

.mimo-googleplus .widget-top a.widget-action{background: url("../../images/layout/arrows-white.png") no-repeat scroll 4px 6px transparent !Important; }

.mimo-googleplus .widget-top { background: url("../../images/layout/bg-button.png") repeat-x scroll left top #e31919 !Important; 
    border: 1px solid #e31919!Important;
    border-radius: 4px 4px 4px 4px!Important;
   color:#FFFFFF;
    cursor: move!Important;
    font-weight: bold;
	text-shadow: 1px -1px 0 #e31919;
	 line-height: 35px;
    word-wrap: break-word!Important;
    z-index: 3;!Important}
