/*
Theme Name: Tatigodoy
Theme URI: http://underscores.me/
Author: Pixele
Author URI: http://www.pixele.com.br
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tatigodoy
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tatigodoy is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

	
	/*
	--------------------------------------------
	ESTRUTURAÇÃO BASE (Pixels Framework v1)
	--------------------------------------------
	** BODY
	**** TOPO
	**** RODAPÉ
	**** COPYRIGHT 
	**** ESTILOS GERAIS PARA AS PÁGINAS
	**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
	**** PÁGINA INICIAL
	**** PÁGINAS INTERNAS
	**** EXTRAS
	**** BOTÕES */
 
	@font-face {
	    font-family: 'pacificoregular';
	    src: url('fonts/pacifico-webfont.eot');
	    src: url('fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/pacifico-webfont.woff2') format('woff2'),
	         url('fonts/pacifico-webfont.woff') format('woff'),
	         url('fonts/pacifico-webfont.ttf') format('truetype'),
	         url('fonts/pacifico-webfont.svg#pacificoregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}	
		
	body {
		font-family: 'Roboto Condensed';
		background-color: #fff;
		background:url( 'data:imapng;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAOElEQVQIW2Pnzf15eXkYGBgYGGBvMQRYAscGCr169+i8mJgZm//j8jiBAUFMTUjmwuSDUA9+Af0iMRW7EAAAAASUVORK5CYII=' ) repeat;
	}

		h1,h2 {
			color: #84d1d4;
		}
		h3, li b {
			color: #d7597d;
		}
	
		.topo {
			border-top: 5px solid #ffccda;
		}
			.topo .redes-sociais-cima {
				margin-top: 50px;
				padding: 0;
				text-align: left;
				list-style-type: none;
			}
				.topo .redes-sociais-cima {
					margin: 0;
					padding: 0;
					list-style-type: none;
				}
				
					.topo .redes-sociais-cima ul {
						margin: 0;
						margin-top: 90px;
  						padding: 0;
  						text-align: center;
					}
						.topo .redes-sociais-cima ul li {
						display: inline-block;
					}

					.topo .redes-sociais-cima ul li {
						padding-right: 6px;	
						display: inline-block;
  						width: 43px;
  						height: 42px;
  						background: url('img/redes_sociais_topo.png') no-repeat;
  						text-indent: -9999em;
					}
						.topo .redes-sociais-cima ul li.facebook {
							background-position: -43px 0;
						}
						.topo .redes-sociais-cima ul li.facebook:hover {
							background-position: -43px  -43px;
						}
						
						.topo .redes-sociais-cima ul li.instagram {
							background-position: 0  0;
						}
						.topo .redes-sociais-cima ul li.instagram:hover {
							background-position: 0 -43px;
						}
						
						.topo .redes-sociais-cima ul li.youtube {
							background-position: -86px 0;
						}
						.topo .redes-sociais-cima ul li.youtube:hover {
							background-position: -86px -43px;
						}
						
						.topo .redes-sociais-cima ul li.linkedin {
							background-position: -129px 0;
						}
						.topo .redes-sociais-cima ul li.linkedin:hover {
							background-position: -129px -43px;
						}
						
						.topo .redes-sociais-cima ul li.pinterest {
							background-position: -172px 0;
						}
						.topo .redes-sociais-cima ul li.pinterest:hover {
							background-position: -172px  -43px;
						}
					
					.topo .redes-sociais-cima a {
						position: absolute;
						width: 43px;
  						height: 43px;
					}
			.topo .logo {}
				.topo .logo h1 {
					display: block;
					margin: 0;
					background-image: url('img/img_logo_topo.png');
					background-repeat: no-repeat;
					background-position: center;	
					}
						.topo .logo h1 a {
							display: block;
						 	margin-top: 15px;
						 	height: 170px;
						  	text-indent: -9999em;
						}
					
			.topo .buscar {
				margin-top: 20px;
				text-align: right;
			}
				.topo .buscar input {
					border: 1px solid #d7597d;
  					padding: 5px 90px 5px 15px;
  					margin-top: 50px;
  					font-weight: 300;
  					letter-spacing: 0.5px;
  					background-image: url('img/ico_pesquisa_top.png');
  					background-repeat: no-repeat;
  					background-position: 95% center;
				}

			.menu-principal {
				clear: both;
				margin: 50px 0 0 0;
				border-radius: 5px;
				font-size: 1.3em;
				font-weight: 100;
				text-align: center;
				letter-spacing: -1px;
				}
				.menu-principal ul {
					padding: 10px 0;
	
					display: inline;
				}
					.menu-principal ul li {
						position: relative;
						display: inline-block;
						text-transform: uppercase;
					}
					.menu-principal ul li:last-child {
						border: 0;
					}
						.menu-principal ul li a:link,
						.menu-principal ul li a:visited,
						.menu-principal ul li a:active {
							padding: 8px 10px 5px;
							/*background-color: #d7597d;*/
							-webkit-border-top-left-radius: 3px;
							-webkit-border-top-right-radius: 3px;
							-moz-border-radius-topleft: 3px;
							-moz-border-radius-topright: 3px;
							border-top-left-radius: 3px;
							border-top-right-radius: 3px;
							color: #fff;
							text-decoration: none;
						}
						
						/* MENUS COLORIDOS */
						.menu-principal ul li.menu-roxo a {
							background-color: #89458a;
						}

						.menu-principal ul li.menu-rosa a {
							background-color: #d7597d;
						}
							.menu-principal ul li.menu-rosa ul li {
								background-color: #d7597d;	
							}
								.menu-principal ul li.menu-rosa ul li a {
									background-color: #d7597d;
								}
									.menu-principal ul li.menu-rosa ul li a:hover {
										background-color: #bb4e6d;
									}
						
						.menu-principal ul li.menu-laranja a {
							background-color: #e37b3f;
						}		
							.menu-principal ul li.menu-laranja ul li {
								background-color: #e37b3f;	
							}	
								.menu-principal ul li.menu-laranja ul li a {
									background-color: #e37b3f;	
								}
									.menu-principal ul li.menu-laranja ul li a:hover {
										background-color: #d7692a;
									}

						.menu-principal ul li.menu-amarelo a {
							background-color: #f1ca4d;
						}
							.menu-principal ul li.menu-amarelo ul li {
								background-color: #f1ca4d;	
							}
								.menu-principal ul li.menu-amarelo ul li a {
									background-color: #f1ca4d;	
								}
									.menu-principal ul li.menu-amarelo ul li a:hover {
										background-color: #dfbb48;	
									}

						.menu-principal ul li.menu-verde a {
							background-color: #46b39d;
						}
							.menu-principal ul li.menu-verde ul li {
								background-color: #46b39d;
							}
								.menu-principal ul li.menu-verde ul li a {
									background-color: #46b39d;
								}
									.menu-principal ul li.menu-verde ul li a:hover {
										background-color: #3fa08c;
									}
						
						.menu-principal ul li.menu-azul a {
							background-color: #7ac4c7;
						}
						.menu-principal ul li.menu-azul-escuro a {
							background-color: #324c5c;
						}
						
						.menu-principal ul li a:hover,
						.menu-principal ul li a.link-ativo {
							-webkit-border-top-left-radius: 3px;
							-webkit-border-top-right-radius: 3px;
							-moz-border-radius-topleft: 3px;
							-moz-border-radius-topright: 3px;
							border-top-left-radius: 3px;
							border-top-right-radius: 3px;
							text-decoration: none;
							font-weight: 100;
							/*background-color: #89458a;*/
						}
						.menu-principal ul li ul {
							display: none;
							z-index: 9999;
							position: absolute;
							top: 19px;
							left: 0;
							width: 250px;
							height: auto;
							-webkit-border-bottom-right-radius: 5px;
							-webkit-border-bottom-left-radius: 5px;
							-moz-border-radius-bottomright: 5px;
							-moz-border-radius-bottomleft: 5px;
							border-bottom-right-radius: 5px;
							border-bottom-left-radius: 5px;
						}
							.menu-principal ul li ul li {
								display: block;
								/*background-color: #660066;*/
								text-align: left;
								border-bottom: 1px dashed #fff;
								font-size: 0.9em;
							}
							.menu-principal ul li ul li:last-child {
								border: 0;
								-webkit-border-bottom-right-radius: 5px;
								-webkit-border-bottom-left-radius: 5px;
								-moz-border-radius-bottomright: 5px;
								-moz-border-radius-bottomleft: 5px;
								border-bottom-right-radius: 5px;
								border-bottom-left-radius: 5px;
							}
								.menu-principal ul li ul li a:link,
								.menu-principal ul li ul li a:visited,
								.menu-principal ul li ul li a:active {
									display: block;
									padding: 8px 25px 5px;
									/*background-color: #d7597d;*/
									color: #fff;
									text-decoration: none;
								}
								.menu-principal ul li ul li a:hover {
									/*background-color: #b0294f;*/
								}
								.menu-principal ul li ul li a:last-child {
									-webkit-border-bottom-right-radius: 5px;
									-webkit-border-bottom-left-radius: 5px;
									-moz-border-radius-bottomright: 5px;
									-moz-border-radius-bottomleft: 5px;
									border-bottom-right-radius: 5px;
									border-bottom-left-radius: 5px;
								}

			/* .menu-principal {
				clear: both;
				margin: 50px 0 0 0;
				border-radius: 5px;
				font-size: 1.3em;
				font-weight: 100;
				text-align: center;
				letter-spacing: -1px;
				}
				.menu-principal ul {
					padding: 10px 0;
	
					display: inline;
				}
					.menu-principal ul li {
						display: inline-block;
						text-transform: uppercase;
					}
					.menu-principal ul li:last-child {
						border: 0;
					}
						.menu-principal ul li a:link,
						.menu-principal ul li a:visited,
						.menu-principal ul li a:active {
							padding: 8px 10px 5px;
							background-color: #84d1d4;
							-webkit-border-top-left-radius: 3px;
							-webkit-border-top-right-radius: 3px;
							-moz-border-radius-topleft: 3px;
							-moz-border-radius-topright: 3px;
							border-top-left-radius: 3px;
							border-top-right-radius: 3px;
							color: #fff;
							text-decoration: none;
						}
						.menu-principal ul li a:hover,
						.menu-principal ul li a.link-ativo {
							-webkit-border-top-left-radius: 3px;
							-webkit-border-top-right-radius: 3px;
							-moz-border-radius-topleft: 3px;
							-moz-border-radius-topright: 3px;
							border-top-left-radius: 3px;
							border-top-right-radius: 3px;
							text-decoration: none;
							font-weight: 100;
							background-color: #d7597d;
						} */

		.carrossel {
			text-align: center;
			height: 309px;
			overflow: hidden;
		}
			.carrossel span {
				position: absolute;
  				top: 100px;
  				left: 100px;
  				width: 600px;
  				text-align: left;
  				text-shadow: 1px 1px #fff;
  				text-shadow:
    			-1px -1px 0 #d96f8a,
    			1px -1px 0 #fff,
    			-1px 1px 0 #d96f8a,
    			1px 1px 0 #d96f8a; 
  				font-size: 3em;
  				font-family: pacificoregular;
  				color: #77c7c9;
			}
				.carrossel strong {
					font-family: pacificoregular;
  					position: absolute;
  					bottom: 60px;
  					left: 550px;
  					font-size: 1.1em;
  					font-weight: 500;
  					letter-spacing: 1px;
  					color: #fff;
				}
			.carrossel img {
				background-size: cover;
				height: 309px;
				image-rendering: -webkit-optimize-contrast;
			}
			@media (max-width: 1200px){
				.carrossel span {
					left: 0;
				}
			}

			@media (max-width: 410px){
				.carrossel img {
					margin-left: -80px;
				}
			}
		
		.rodape {
			margin-top: 70px;
			border-top: 5px solid #ffccda;
			background-color: #d7597d;
			color: #fff;
		}
			.rodape .logo {
				text-align: center;
			}
				.rodape .logo img {}
				.rodape .contato {
					padding: 10px 0 10px;
					border: 1px solid #84d1d4;
					border-radius: 3px;
					margin-top: 60px;
					text-align: center;
				}				
					.rodape .contato span {
						font-size: 1.6em;
  						font-weight: 300;
  						letter-spacing: -1px;
  						text-transform: uppercase;
  						color: #fff;
					}
						.rodape .contato a {
							text-decoration: none;
						}
			.rodape .redes_sociais-baixo {
				padding-top: 50px;
			}
			.rodape .redes_sociais-baixo ul {
				padding: 0;
				text-align: center;
			}
				.rodape .redes_sociais-baixo ul li {
					display: inline-block;
					margin: 0;
					padding: 2px;
				}
			.rodape .newsletter {
				padding-top: 40px;
				text-align: center;
			}
				.rodape .newsletter label {}
					.rodape .newsletter input {
						width: 200px;
						padding: 10px 10px 10px 10px;
						font-weight: 300;
  						font-size: 1em;
  						text-transform: uppercase;
  						border: 1px solid #ca4369;
  						border-radius: 4px;
  						letter-spacing: -0.6px;
  						color:#309498;
  					}
					.rodape .newsletter img {
						margin: 0 0 10px -35px;
					}
		

		.copyright {
			padding: 15px;
			background-color: #d7597d;
			font-size: 1em;
		}
			.copyright .container .texto{
				padding-top: 10px;
				border-top: 1px solid #ca4369;
			}
				.copyright .container .texto small {
					font-size: 1em;
					font-weight: 300;
					color: #d1d1d1;
				}


		.pg {
			margin-top: 30px;
		}
			.pg h2 {}
			.pg p {}


		.interna {}
			.interna p {}
				.interna p strong {}
			.interna a:link,
			.interna a:visited,
			.interna a:hover,
			.interna a:active {
			}
			
			.interna .pg-cabecalho {
			}
				.interna .pg-cabecalho h4 {
				}
					.interna .pg-cabecalho h4 strong {
						font-weight: 400;
					}
			.interna-conteudo {
				padding: 20px 40px;
			}


		.pg-blog {}
			

			.pg-blog .publicacoes {
				padding: 0 10px;
				margin-bottom: 60px;
			}
				.pg-blog .publicacoes .informacoes {
					margin-top: 15px;
				}

					.cab-informacoes {
						  background: #ffffff;
						  padding: 10px 20px;
						  text-transform: uppercase;
						  font-size: 10px;
						  font-weight: 300;
						  margin-bottom: 10px;
						  border: 1px solid #309498;
					}
					.cab-informacoes span {
						font-size: 1.6em;
					}
					.pg-blog .publicacoes .informacoes .titulo {}
						.pg-blog .publicacoes .informacoes .titulo h2 {
							margin: 0;
							font-size: 2em;
		  					font-weight: 900;
		  					letter-spacing: -1px;
							color: #309498;
						}
						.pg-blog .publicacoes .informacoes .data {
  							float: right;
						}
							.pg-blog .publicacoes .informacoes .data span {
								font-size: 1.2em;
								text-transform: uppercase;
								color: #da6888;
							}
								.pg-blog .publicacoes .informacoes .data strong {
									font-weight: 400;
									color:#bdbbb1;
								}
				.pg-blog .publicacoes .imagem-detaque figure {
					height: 232px;
					margin: 15px 0;
				}
			.pg-blog .publicacoes p {
				margin-top: 30px;
				font-size: 1.3em;
				font-weight: 300;
				color: #727272;
			}
			.pg-blog .publicacoes .rodape-post {
				border-bottom: 1px dashed #309498;
			}
				.pg-blog .publicacoes .rodape-post .ir-postagem {}
					.pg-blog .publicacoes .rodape-post .ir-postagem a {
						font-size: 1.3em; 
						text-transform: uppercase;
						color: #d7597d;
					}
						.pg-blog .publicacoes .rodape-post .ir-postagem b {
							font-size: 1.3em;
							font-weight: 100;
						}
			.pg-blog .rodape-post .comentario {
				margin: 6px;
				float: right;
			}
				.pg-blog .rodape-post .comentario a {
					font-size: 1.3em;
					text-transform: uppercase;
					color: #bdbbb1;
				}
			.navegar {
				margin-top: 60px;
				text-align: center;
			}
				.navegar img {
				padding: 25px;		
				}
					.navegar span {
						margin: 0 2px;
						padding: 10px;
						font-size: 1.4em;
						border: 1px solid #d7597d;
						border-radius: 3px;
						color: #479ca0;
					}
					.navegar .pg-atual {
						background-color: #479ca0;
						color: #d7597d;
					}

			.pg-blog .menu-lateral {
				  padding: 0 10px;
			}
				.pg-blog .menu-lateral .newsletter {
					width: 290px;
					margin: auto;
				}
					.pg-blog .menu-lateral .newsletter input {
						width: 240px;
						padding: 15px 15px 15px 5px;
						font-weight: 300;
						font-size: 1em;
						text-transform: uppercase;
						border: 1px solid #d7597d;
						border-radius: 4px;
						letter-spacing: -0.6px;
					}
					.pg-blog .menu-lateral .newsletter img {
						margin: 0 0 10px -35px;
					}
				.pg-blog .menu-lateral .curso {
					text-align: center;
				}
					.pg-blog .menu-lateral .curso:first-child img {
						margin-top: 0;
						width: 100%;
					}
					.pg-blog .menu-lateral .curso img {
						margin-top: 30px;
						width: 100%;
					}
				.pg-blog .menu-lateral .youtube {
					text-align: center;
				}
					.pg-blog .menu-lateral .youtube img {
						margin-top: 10px;
						width: 100%;
					}
				.pg-blog .menu-lateral .instagram {
					padding: 18px;
					margin-top: 30px;
					border: 1px solid #309498;
				}
					.pg-blog .menu-lateral .instagram img {
						margin-right: 10px;
					}

						.pg-blog .menu-lateral .instagram iframe {
							display: block;
							margin-top: 15px;
						}
							.pg-blog .menu-lateral .instagram span {
								font-size: 1.2em;
								font-weight: 500;
								text-transform: uppercase;
								color: #d7597d;
							}
								.pg-blog .menu-lateral .instagram strong {
									font-size: 1.2em;
									font-weight: 500;
									color: #d7597d;
								}
					.pg-blog .menu-lateral .anuncios {
						padding: 18px;
						margin-top: 30px;
						border: 1px solid #309498;
					}
						.pg-blog .menu-lateral .anuncios img {
							padding-bottom: 15px;
						}
							.pg-blog .menu-lateral .anuncios .icone {
								margin-right: 10px;	
							}
								.pg-blog .menu-lateral .anuncios .icone span {
									font-size: 1.2em;
									font-weight: 500;
									text-transform: uppercase;
									color: #d7597d;
								}
								.pg-blog .menu-lateral .banners img {
									width: 100%;
									margin-top: 20px;
									text-align: center;
								}

						.curtir-facebook {
							margin-top: 5px;
							background-color: #fff;
							border-radius: 5px;
							border: 4px solid #fff;
						}
							.pg-blog .menu-lateral .curtir-facebook { }

		.pg-exemplo {}

			.pg-exemplo1 header.pg-cabecalho {}

		.clear {
			clear: both;
		}
        label.alinhado{
            float: left;
        }
        label.naoalinhado{
            clear: both;
            display: block;
        }
        label.error {
			color: #da2323;
		}
		input.error,
		textarea.error,
		select.error {
			background-color: #ffe3e3;
			border: 1px solid #f99e9e;
		}
        .btn i {
        	margin-left: 5px;
        	padding-left: 5px;
        	border-left: 1px solid #fff;
        }
        .alert p {
        	margin: 0;
        }

        .btn-verde{color:#fff;background-color:#44BC74;border-color:#33B065}.btn-verde.active,.btn-verde:active,.btn-verde:focus,.btn-verde:hover,.open .dropdown-toggle.btn-verde{color:#fff;background-color:#40855B;border-color:#33B065}.btn-verde.active,.btn-verde:active,.open .dropdown-toggle.btn-verde{background-image:none}.btn-verde.disabled,.btn-verde.disabled.active,.btn-verde.disabled:active,.btn-verde.disabled:focus,.btn-verde.disabled:hover,.btn-verde[disabled],.btn-verde[disabled].active,.btn-verde[disabled]:active,.btn-verde[disabled]:focus,.btn-verde[disabled]:hover,fieldset[disabled] .btn-verde,fieldset[disabled] .btn-verde.active,fieldset[disabled] .btn-verde:active,fieldset[disabled] .btn-verde:focus,fieldset[disabled] .btn-verde:hover{background-color:#44BC74;border-color:#33B065}.btn-verde .badge{color:#44BC74;background-color:#fff}
        .btn-laranja{color:#fff;background-color:#F19508;border-color:#E7900B}.btn-laranja.active,.btn-laranja:active,.btn-laranja:focus,.btn-laranja:hover,.open .dropdown-toggle.btn-laranja{color:#fff;background-color:#e7900b;border-color:#E7900B}.btn-laranja.active,.btn-laranja:active,.open .dropdown-toggle.btn-laranja{background-image:none}.btn-laranja.disabled,.btn-laranja.disabled.active,.btn-laranja.disabled:active,.btn-laranja.disabled:focus,.btn-laranja.disabled:hover,.btn-laranja[disabled],.btn-laranja[disabled].active,.btn-laranja[disabled]:active,.btn-laranja[disabled]:focus,.btn-laranja[disabled]:hover,fieldset[disabled] .btn-laranja,fieldset[disabled] .btn-laranja.active,fieldset[disabled] .btn-laranja:active,fieldset[disabled] .btn-laranja:focus,fieldset[disabled] .btn-laranja:hover{background-color:#F19508;border-color:#E7900B}.btn-laranja .badge{color:#F19508;background-color:#fff}
		.btn-amarelo{color:#FFF;background-color:#FC0;border-color:#CDAB21}.btn-amarelo.active,.btn-amarelo:active,.btn-amarelo:focus,.btn-amarelo:hover,.open .dropdown-toggle.btn-amarelo{color:#FFF;background-color:#cdab21;border-color:#CDAB21}.btn-amarelo.active,.btn-amarelo:active,.open .dropdown-toggle.btn-amarelo{background-image:none}.btn-amarelo.disabled,.btn-amarelo.disabled.active,.btn-amarelo.disabled:active,.btn-amarelo.disabled:focus,.btn-amarelo.disabled:hover,.btn-amarelo[disabled],.btn-amarelo[disabled].active,.btn-amarelo[disabled]:active,.btn-amarelo[disabled]:focus,.btn-amarelo[disabled]:hover,fieldset[disabled] .btn-amarelo,fieldset[disabled] .btn-amarelo.active,fieldset[disabled] .btn-amarelo:active,fieldset[disabled] .btn-amarelo:focus,fieldset[disabled] .btn-amarelo:hover{background-color:#FC0;border-color:#CDAB21}.btn-amarelo .badge{color:#FC0;background-color:#FFF}

        .slicknav_menu { display:none; }
		@media screen and (max-width:991px) {
			.slicknav_menu { display:block; }
				.slicknav_btn { }
		}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*PÁGINA VIDEOS E DEPOIMENTOS*/
	.pg-depoimentos{
		font-family: 'Arimo', sans-serif;
	}
	.pg-depoimentos .titulo-pagina{
		padding: 0 50px;
	}
	@media screen and (max-width: 992px) {
		.pg-depoimentos .titulo-pagina{
			padding: 0 5px;
		}
	}
	.pg-depoimentos .titulo{
		background: #84d1d4;
		padding: 6px 0;
		border-bottom-right-radius: 8px; 
		border-bottom-left-radius: 8px; 
		min-height: 50px;
		margin-bottom: 40px; 
	}
	@media screen and (max-width: 992px) {
		.pg-depoimentos .titulo{
			border-radius: 8px;
		}
	}	

		.pg-depoimentos .titulo span{
			color: #d7597d;
			font-size: 18px;
			vertical-align: -webkit-baseline-middle;				
		}
			.pg-depoimentos .titulo span strong{
				font-size: 24px;
				color: #fff;
				text-transform: uppercase;
				font-weight: normal;
				vertical-align: middle;
				display: inline-block;
					transform: scale(0.8,1.3);
					-webkit-transform:scale(0.8,1.3); 
			    -moz-transform:scale(0.8,1.3); 
			    -ms-transform:scale(0.8,1.3); 
			    -o-transform:scale(0.8,1.3);
			}
			.pg-depoimentos .titulo span img{
				margin-left: 10px;
			}
	.video{
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
		.video iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	.pg-depoimentos .depoimento{
		margin: 0 5px;
		margin-top: 40px;
	}
	.pg-depoimentos .nome{
		color: #fff;

	}
		.pg-depoimentos .nome span {
			background: #84d1d4;
			font-size: 19px;
			padding: 10px 30px;
			border-top-right-radius: 5px; 
			border-top-left-radius: 5px; 
		}
	.pg-depoimentos .dash{
		margin-top: 9px;
			padding: 2px;
		border: 2px dashed #84d1d4;
	}
	.pg-depoimentos .comentario{
		padding: 10px 15px;
		background: #d7597d;
		min-height: 150px;				
	}
		.pg-depoimentos .comentario img {
			padding: 0 3px 3px 0;
		}
	.pg-depoimentos .comentario .texto{
		display: inline;
	}
		.pg-depoimentos .comentario .texto span{
			font-family: 'Titillium Web', sans-serif;
			font-style: italic;
			color: #fff;
			font-size: 16px;
		}
	.pg-depoimentos .comentario .data{
		font-family: 'Arimo', sans-serif !important;
		font-size: 11px !important;
		font-style: italic !important;
	}

	.pg-po{

	}
	.pg-po .imagem{
		padding: 100px 0;
	}
	.pg-po .img-responsive{
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
	.pg-po .fundo{
		background: #d7597d;
		padding: 2% 0;
	}
	.pg-po .titulo{
		color: #fff;
		vertical-align: middle;
		text-transform: uppercase;
 		font-size: 22px;
	}
	.pg-po .texto{
		padding: 80px 0;
	}
		.pg-po .texto span{
			color: #282828;
			font-size: 20px;
			font-weight: 100;
		}

	/*EXTRAS*/
	.correcao-x{
		padding: 0 20px;
	}

	.correcao-y{
		padding: 20px 0;
	}

	.correcao-xy{
		padding: 20px;
	}