.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
.gf-menu {
  position: relative;
  margin: 0;
  list-style-type: none;
}
.gf-menu:after {
  display: table;
  content: '';
  clear: both;
}
.gf-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gf-menu .item {
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  display: block;
  outline: 0;
  cursor: pointer;
  margin: 0px;
}
.gf-menu .item.subtext {
  padding-top: 4px;
  padding-bottom: 4px;
}
.gf-menu .item.subtext > em {
  display: block;
  font-size: 12px;
  color: #1a1a1a;
  text-align: left;
  font-style: normal;
}
.gf-menu .item.icon [class^="icon-"],
.gf-menu .item.icon [class*= " icon-"] {
  background-image: none !important;
  width: auto;
}
.gf-menu .item.icon [class^="icon-"]:before,
.gf-menu .item.icon [class*= " icon-"]:before {
  text-indent: 0;
  margin-right: 5px;
}
.gf-menu .item .menu-image {
  max-width: inherit;
  vertical-align: text-top;
  margin-top: -2px;
  margin-left: -2px;
}
.gf-menu.l1 {
  background: transparent;
  position: relative;
  margin: 0px auto;
  display: block;
}
.gf-menu.l1 >li {
  z-index: 2;
}
.gf-menu.l1 > li.active a {
  color: #ffffff;
}
.gf-menu.l1 > li > .item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 28px 10px 22px;
}
.gf-menu.l1 > li > .item.subtext {
  padding: 14px;
}
.gf-menu li:first-child > .item a {
  padding-left: 10px;
}
.gf-menu li {
  float: left;
  display: block;
  position: relative;
  padding: 0;
  margin-right: 0px;
  border: none;
}
.gf-menu li.parent > .item:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 11px;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
.gf-menu .dropdown {
  margin: 0px auto 0px 0px;
  padding: 0;
  position: absolute;
  opacity: 0;
  left: -999em;
  text-align: left;
  border: 0;
  z-index: 999999;
  padding-top: 0px;
  padding-bottom: 0px;
  -moz-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  background: #ffffff;
}
.gf-menu .dropdown .flyout {
  display: block;
}
.gf-menu .dropdown ul {
  list-style-type: none;
}
.gf-menu .dropdown ul li {
  min-height: auto;
  display: block;
  float: none;
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px solid #dbdbdb;
}
.gf-menu .dropdown ul li .item {
  padding: 0px;
  z-index: 99999;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.gf-menu .dropdown ul li.parent > .item:after {
  margin-top: -10px;
  font-family: FontAwesome;
  content: "\f054";
  font-size: 11px;
}
.gf-menu .dropdown .grouped.parent > .item .border-fixer {
  display: none;
}
.gf-menu .dropdown .grouped.parent > .item:after {
  font-family: FontAwesome;
  content: "\f078";
  font-size: 11px;
}
.gf-menu .dropdown .grouped ol {
  background: #dbdbdb;
  border: 0px solid #c4c4c4;
  margin: 0px;
  padding: 0;
}
.gf-menu .dropdown .grouped ol > li > .item {
  font-size: 15px;
  color: #000000;
}
.gf-menu .dropdown .modules {
  text-align: left;
  color: #1a1a1a;
}
.gf-menu .dropdown .modules .module-content {
  padding: 0 10px;
}
.gf-menu .dropdown .modules .module-content h1,
.gf-menu .dropdown .modules .module-content h2,
.gf-menu .dropdown .modules .module-content h3,
.gf-menu .dropdown .modules .module-content h4,
.gf-menu .dropdown .modules .module-content h5 {
  color: #000000;
}
.gf-menu .dropdown .modules .module-content a {
  color: #ffffff;
}
.gf-menu .dropdown .modules .module-content p {
  margin: 0 0 10px 0;
  font-size: 15px;
  line-height: 17px;
}
.gf-menu .flyout {
  border-top: 1px solid #cbcbcb;
}
.gf-menu .column {
  float: left;
  position: relative;
}
.gf-menu .position-left {
  float: left;
  margin-right: 15px;
}
.gf-menu .position-right {
  float: right;
  margin-left: 15px;
}
.gf-menu.gf-splitmenu li.parent:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.gf-menu-toggle {
  padding: 7px 10px;
  border: 1px solid #cbcbcb;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
  -webkit-box-shadow: inset 0px 1px 0px #cbcbcb, inset 0px 2px 0px #ffffff, 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 0px #cbcbcb, inset 0px 2px 0px #ffffff, 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 0px #cbcbcb, inset 0px 2px 0px #ffffff, 0px 1px 1px rgba(0,0,0,0.1);
  cursor: pointer;
}
.gf-menu-toggle.active {
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 1px 0px #ffffff;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top,#ffffff,#d9d9d9);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#d9d9d9));
  background-image: -webkit-linear-gradient(top,#ffffff,#d9d9d9);
  background-image: -o-linear-gradient(top,#ffffff,#d9d9d9);
  background-image: linear-gradient(to bottom,#ffffff,#d9d9d9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd8d8d8', GradientType=0);
}
.gf-menu-toggle .icon-bar {
  background-color: #000000;
  border-radius: 1px 1px 1px 1px;
  display: block;
  height: 2px;
  width: 18px;
}
.gf-menu-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.admin-bar .gf-menu-toggle {
  top: 38px;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .layout-mode-responsive .gf-menu.l1 > li {
    margin-right: 5px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .layout-mode-responsive .gf-menu.l1 > li > .item {
    font-size: 17px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.subtext {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.subtext em {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.image img {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearfix:after {
    clear: both;
  }
  .hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rok-left {
    float: left;
  }
  .rok-right {
    float: right;
  }
  .rok-dropdown-group,
  .rok-dropdown {
    position: relative;
  }
  .rok-dropdown-open .rok-dropdown {
    display: block;
  }
  .rok-popover-group,
  .rok-popover {
    position: relative;
  }
  .rok-popover-open .rok-popover {
    display: block;
  }
  .gf-menu.l1 > li:hover > .item .border-fixer {
    display: block;
    position: absolute;
    height: 0px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
  }
  .gf-menu li:hover,
  .gf-menu li.active:hover {
    border: 0px solid #cbcbcb;
    color: #ffffff;
    border-top: 0;
  }
  .gf-menu li:hover > .dropdown,
  .gf-menu li.active:hover > .dropdown {
    left: -1px;
    top: auto;
    opacity: 1;
  }
  .gf-menu li:hover > .item {
    color: #ffffff;
  }
  .gf-menu .dropdown ul li:hover {
    background: #000000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .gf-menu .dropdown ul li:hover > .item {
    border: 0;
    border-bottom: 0;
    border-top: 0;
    color: #ffffff;
  }
  .gf-menu .dropdown ul li:hover > .item .border-fixer {
    display: block;
    position: absolute;
    height: 100%;
    width: 0px;
    right: -1px;
    top: 0px;
    background: #ffffff;
  }
  .gf-menu .dropdown .grouped:hover {
    padding: 5px 0px 0px 0px;
  }
  .gf-menu .dropdown .modules:hover,
  .gf-menu .dropdown .modules ul li:hover {
    padding-top: 0 !important;
  }
  .gf-menu .dropdown li:hover > .flyout {
    left: 100%;
    top: 1px;
    margin-left: -6px;
    border-top: 0;
  }
  body.rtl li:hover > .dropdown,
  body.rtl li.active:hover > .dropdown {
    left: inherit;
    right: -1px;
  }
  body.rtl .dropdown ul li:hover > .flyout {
    left: inherit;
    right: 100%;
    margin-left: auto;
    margin-right: -6px;
  }
  body.rtl .dropdown ul li:hover > .item .border-fixer {
    right: inherit;
    left: -1px;
  }
}
.layout-mode-960fixed .clearfix,
.layout-mode-1200fixed .clearfix {
  *zoom: 1;
}
.layout-mode-960fixed .clearfix:before,
.layout-mode-960fixed .clearfix:after,
.layout-mode-1200fixed .clearfix:before,
.layout-mode-1200fixed .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.layout-mode-960fixed .clearfix:after,
.layout-mode-1200fixed .clearfix:after {
  clear: both;
}
.layout-mode-960fixed .hide-text,
.layout-mode-1200fixed .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.layout-mode-960fixed .input-block-level,
.layout-mode-1200fixed .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.layout-mode-960fixed .rok-left,
.layout-mode-1200fixed .rok-left {
  float: left;
}
.layout-mode-960fixed .rok-right,
.layout-mode-1200fixed .rok-right {
  float: right;
}
.layout-mode-960fixed .rok-dropdown-group,
.layout-mode-960fixed .rok-dropdown,
.layout-mode-1200fixed .rok-dropdown-group,
.layout-mode-1200fixed .rok-dropdown {
  position: relative;
}
.layout-mode-960fixed .rok-dropdown-open .rok-dropdown,
.layout-mode-1200fixed .rok-dropdown-open .rok-dropdown {
  display: block;
}
.layout-mode-960fixed .rok-popover-group,
.layout-mode-960fixed .rok-popover,
.layout-mode-1200fixed .rok-popover-group,
.layout-mode-1200fixed .rok-popover {
  position: relative;
}
.layout-mode-960fixed .rok-popover-open .rok-popover,
.layout-mode-1200fixed .rok-popover-open .rok-popover {
  display: block;
}
.layout-mode-960fixed .gf-menu.l1 > li:hover > .item .border-fixer,
.layout-mode-1200fixed .gf-menu.l1 > li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
}
.layout-mode-960fixed .gf-menu li:hover,
.layout-mode-960fixed .gf-menu li.active:hover,
.layout-mode-1200fixed .gf-menu li:hover,
.layout-mode-1200fixed .gf-menu li.active:hover {
  border: 0px solid #cbcbcb;
  color: #ffffff;
  border-top: 0;
}
.layout-mode-960fixed .gf-menu li:hover > .dropdown,
.layout-mode-960fixed .gf-menu li.active:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown {
  left: -1px;
  top: auto;
  opacity: 1;
}
.layout-mode-960fixed .gf-menu li:hover > .item,
.layout-mode-1200fixed .gf-menu li:hover > .item {
  color: #ffffff;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover {
  background: #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item {
  border: 0;
  border-bottom: 0;
  border-top: 0;
  color: #ffffff;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item .border-fixer,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 100%;
  width: 0px;
  right: -1px;
  top: 0px;
  background: #ffffff;
}
.layout-mode-960fixed .gf-menu .dropdown .grouped:hover,
.layout-mode-1200fixed .gf-menu .dropdown .grouped:hover {
  padding: 5px 0px 0px 0px;
}
.layout-mode-960fixed .gf-menu .dropdown .modules:hover,
.layout-mode-960fixed .gf-menu .dropdown .modules ul li:hover,
.layout-mode-1200fixed .gf-menu .dropdown .modules:hover,
.layout-mode-1200fixed .gf-menu .dropdown .modules ul li:hover {
  padding-top: 0 !important;
}
.layout-mode-960fixed .gf-menu .dropdown li:hover > .flyout,
.layout-mode-1200fixed .gf-menu .dropdown li:hover > .flyout {
  left: 100%;
  top: 1px;
  margin-left: -6px;
  border-top: 0;
}
.layout-mode-960fixed body.rtl li:hover > .dropdown,
.layout-mode-960fixed body.rtl li.active:hover > .dropdown,
.layout-mode-1200fixed body.rtl li:hover > .dropdown,
.layout-mode-1200fixed body.rtl li.active:hover > .dropdown {
  left: inherit;
  right: -1px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .flyout,
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .flyout {
  left: inherit;
  right: 100%;
  margin-left: auto;
  margin-right: -6px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .item .border-fixer,
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .item .border-fixer {
  right: inherit;
  left: -1px;
}
@media (max-width: 767px) {
  .layout-mode-responsive .gf-menu-device-wrapper {
    margin-bottom: 15px !important;
  }
  .layout-mode-responsive .gf-menu-device-container {
    background: transparent;
    border: 0;
    border-top: 0;
    padding: 5px;
  }
  .layout-mode-responsive .gf-menu-device-container select {
    margin-bottom: 0;
    width: 100%;
  }
  .layout-mode-responsive .gf-menu {
    border-top: 15px solid #ffffff;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    background: #ffffff url(../images/menu/tree-main.png) repeat-y !important;
  }
  .layout-mode-responsive .gf-menu ul,
  .layout-mode-responsive .gf-menu ol {
    background: #ffffff url(../images/menu/tree-main.png) repeat-y !important;
  }
  .layout-mode-responsive .gf-menu li {
    background: url(../images/menu/tree-node.png) no-repeat;
    padding-left: 20px !important;
    margin-right: 0 !important;
  }
  .layout-mode-responsive .gf-menu li.active.last {
    background: url(../images/menu/tree-node.png) no-repeat !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .layout-mode-responsive .gf-menu li.active.last > .item {
    background: #e8e8e8;
    border: 1px solid #c4c4c4 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 1px 0px #ffffff;
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 1px 0px #ffffff;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 0px 1px 0px #ffffff;
  }
  .layout-mode-responsive .gf-menu li .columns-1 > .col1 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-2 > .col2 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-3 > .col3 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-4 > .col4 > ul > li:last-child {
    background: #ffffff url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu li ol > li:last-child {
    background: #ffffff url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu li:hover > .item {
    color: #ffffff !important;
  }
  .layout-mode-responsive .gf-menu li .item {
    padding: 10px 5px !important;
  }
  .layout-mode-responsive .gf-menu li .item.subtext em {
    display: none;
  }
  .layout-mode-responsive .gf-menu li .item:after {
    content: '' !important;
  }
  .layout-mode-responsive .gf-menu > li:first-child,
  .layout-mode-responsive .gf-menu > li:first-child.active {
    margin-top: -15px;
  }
  .layout-mode-responsive .gf-menu > li:last-child {
    background: #ffffff url(../images/menu/tree-node-last.png) 0 -2px no-repeat;
  }
  .layout-mode-responsive .gf-menu .dropdown {
    width: 100% !important;
    border: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    left: inherit;
    top: inherit;
    opacity: 1;
    *zoom: 1;
  }
  .layout-mode-responsive .gf-menu .dropdown:before,
  .layout-mode-responsive .gf-menu .dropdown:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .layout-mode-responsive .gf-menu .dropdown:after {
    clear: both;
  }
  .layout-mode-responsive .gf-menu .dropdown .flyout {
    display: block;
  }
  .layout-mode-responsive .gf-menu .dropdown .column {
    width: 100% !important;
  }
  .layout-mode-responsive .gf-menu .dropdown .grouped ol {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .layout-mode-responsive .gf-menu .dropdown .modules {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li {
    float: none;
    margin-left: -1px;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active {
    margin-left: 0px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item {
    font-size: 17px;
  }
}
body.rtl .gf-menu.l1 > li {
  float: right;
}
body.rtl .gf-menu li .item {
  text-align: right;
}
body.rtl .gf-menu li.parent > .item {
  padding-right: 8px;
  padding-left: 25px;
}
body.rtl .gf-menu li.parent > .item:after {
  right: inherit;
  left: 6px;
}
body.rtl .gf-menu-toggle {
  left: inherit;
  right: 10px;
}
body.rtl .dropdown {
  -webkit-border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}
body.rtl .dropdown ul li.parent > .item:after {
  font-size: 11px;
}
@media (max-width: 767px) {
  .layout-mode-responsive .gf-menu {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li {
    float: none;
  }
  .layout-mode-responsive .gf-menu li .item {
    text-align: left;
  }
}
