.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
.gf-menu.l1 > li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
}
.gf-menu li:hover,
.gf-menu li.active:hover {
  border: 0px solid #cbcbcb;
  color: #ffffff;
  border-top: 0;
}
.gf-menu li:hover > .dropdown,
.gf-menu li.active:hover > .dropdown {
  left: -1px;
  top: auto;
  opacity: 1;
}
.gf-menu li:hover > .item {
  color: #ffffff;
}
.gf-menu .dropdown ul li:hover {
  background: #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gf-menu .dropdown ul li:hover > .item {
  border: 0;
  border-bottom: 0;
  border-top: 0;
  color: #ffffff;
}
.gf-menu .dropdown ul li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 100%;
  width: 0px;
  right: -1px;
  top: 0px;
  background: #ffffff;
}
.gf-menu .dropdown .grouped:hover {
  padding: 5px 0px 0px 0px;
}
.gf-menu .dropdown .modules:hover,
.gf-menu .dropdown .modules ul li:hover {
  padding-top: 0 !important;
}
.gf-menu .dropdown li:hover > .flyout {
  left: 100%;
  top: 1px;
  margin-left: -6px;
  border-top: 0;
}
body.rtl li:hover > .dropdown,
body.rtl li.active:hover > .dropdown {
  left: inherit;
  right: -1px;
}
body.rtl .dropdown ul li:hover > .flyout {
  left: inherit;
  right: 100%;
  margin-left: auto;
  margin-right: -6px;
}
body.rtl .dropdown ul li:hover > .item .border-fixer {
  right: inherit;
  left: -1px;
}
